<div class="flex flex-wrap-reverse pb-[150px] ">

    <div class="write w-[45rem] md:w-[30rem] h-auto pt-[210px] md:ml-10 ml-20">

    <span class="font-grotesk h-24 md:text-4xl text-5xl font-bold text-black md:w-auto "> Welcome to the Web 4.0 community hub</span>

        <div class="pt-10  "> 
        <span  class="h-20 w-[34rem] md:w-auto  font-medium font-satoshi md:text-lg text-xl leading-7 text-gray-900"> The Web 4.0 community is home to hundreds of thousands of developers, technologists, designers, users and enthusiasts.</span>

        </div>
    </div>
    <div class="photo">
        <img src="" alt="HeroImage">
    </div>
    
</div>