---
import CommunityWhybox from "~/components/molecules/communityWhybox.astro";
---

<style>
    .box{
        box-shadow: inset 0px -4px 24px rgba(63, 0, 249, 0.25), inset 0px 4px 24px rgba(63, 0, 249, 0.25);
    }
</style>

<div class="   m-0 w-[100vw] ">

 <div class=" box bg-purple-300 skew-y-1 h-auto   w-[100vw]">   
<div class="w-[100vw] text-center  pt-[80px] -skew-y-1"> 
    <span class="font-grotesk h-10 font-medium text-3xl  text-black">Why get involved?</span>
</div>
<div class="flex flex-wrap -skew-y-1  h-auto pt-10 w-[100vw] justify-around">
<CommunityWhybox heading="Find your people." body="There is a group for everyone. Find and connect with like minded individuals to discuss, ponder, and celebrate Web 4.0 together."/>
<CommunityWhybox heading="Earn a living." body="Everyone has bills to pay. Web 4.0 can allow you to find meaningful work, and get paid to do it."/>
<CommunityWhybox heading="Make a difference." body="Getting involved with Web 4.0 will allow you to be an active stakeholder in a technology that will have a positive impact on millions of people."/>
</div>

</div>
</div>