<div class=" h-auto flex flex-row w-[100vw]">
    <div class="p-20  flex pt-10 pb-10">
        <!-- <div><img src="https://ethereum.org/static/9a6e158f4ffd1cb5de246a3ecd0d7f86/ec1f3/hackathon_transparent.webp" alt="just Example"></div> -->
        <div class="">
            <div class=" font-medium text-4xl text-black">Contribute to Web 4.0</div>
            <div class=""></div>
        </div>



    </div>



</div>