---
import CommunityWhybox from "~/components/molecules/communityWhybox.astro";
import {t} from "i18next";
---




 





 <div class="  h-auto m-0  w-[100vw]">   
<div class="w-[100vw] text-center  pt-[40px]"> 
    <span class="font-grotesk h-10 font-medium text-2xl  text-primary" >{t("community.communitySec2.title")}</span>
</div>
<div class=" flex flex-wrap  h-auto pt-10 w-[100vw] justify-around " >
<CommunityWhybox heading={t("community.communitySec2.head1")} body= {t("community.communitySec2.body1")}/>
<CommunityWhybox heading={t("community.communitySec2.head2")} body= {t("community.communitySec2.body1")}/>
<CommunityWhybox heading={t("community.communitySec2.head3")} body= {t("community.communitySec2.body1")}/>
</div>

</div>


<div class="flex  justify-evenly lg:flex-nowrap  flex-wrap w-[100vw] items-center">

   

    <div class="sm:p-0">
       <div><p class="text-2xl sm:text-lg font-grotesk font-bold  text-purple-700 "> {t("community.communitySec3.title")}</p></div>
        <div class="pt-5 sm:pt-3"><p class="font-satoshi w-[35vw] sm:w-[60vw] font-medium text-sm text-gray-900 flex-none order-1 flex-grow-0">{t("community.communitySec3.body")}</p></div>
           
          
    </div>

    <div class="">
        <img src="../svg/community/involvedIMG.svg" alt="nothinh">
    </div>

</div>