---
import CommunityCard from "~/components/molecules/communityCard.astro";
import {t} from "i18next";
---

<div class="w-[100vw]">
    <div class="p-10">
       <div class="flex items-center mb-[3rem] mt-[1rem]  flex-wrap-reverse pb-10">
          <div class="  " data-aos="fade-down"
          data-aos-duration="2000">
             <div class=""> <span class="h-12 font-medium text-4xl text-primary " > {t("community.communitySec3.title")}</span>
             </div>
             <div class="pt-10">
                <p class="w-[50vw] sm:w-none block  font-normal text-lg text-gray-900">{t("community.communitySec3.body")}</p>
             </div>
          </div>
          <!-- image starts -->
          <div>
          </div>
          <!-- image ends -->
       </div>
       <!-- Card section starts -->
       <div class="flex flex-wrap grid-rows-2 grid-flow-col gap-10 pt-[100px] justify-center">
          <CommunityCard heading={t("community.communitySec3.head1")}
          content= {t("community.communitySec3.content1")}
          image="../svg/community/humanvr.svg"/>

          <CommunityCard heading={t("community.communitySec3.head2")}
          content={t("community.communitySec3.content2")}
          image="../svg/community/humanvr.svg"/>

          <CommunityCard heading={t("community.communitySec3.head3")}
           content= {t("community.communitySec3.content3")}
           image="../svg/community/mobile.svg"/>

          <CommunityCard heading= {t("community.communitySec3.head4")}
          content={t("community.communitySec3.content4")}
          image="../svg/community/house.svg"/>
       </div>
       <!-- Card section ends -->
    </div>
 </div>
