<div class="flex sm:flex-wrap-reverse justify-center p-20 h-[80vh]">

    <div class="pt-10">

    <p class="font-grotesk  md:text-4xl text-3xl lg:w-[600px]  font-bold text-purple-700 md:w-auto "> Welcome to the Web 4.0 community hub</p>

        <div class="pt-10  md:w-auto lg:w-[500px] font-medium font-satoshi md:text-lg text-xl leading-7 text-gray-900 "> 
       The Web 4.0 community is home to hundreds of thousands of developers, technologists, designers, users and enthusiasts.</div>
    
    </div>

    <div class="">
        <img src="../svg/community/hand.svg" alt="HeroImage">
    </div>
    
</div>