---
import {t} from "i18next";
---

<style>
    .explore{
    border: 2px solid black;
   
}
</style>

<div class="flex p-20 justify-evenly lg:flex-nowrap  flex-wrap w-[100vw] items-center">

   

    <div class="sm:p-0">
       <div><p class="text-2xl sm:text-lg font-grotesk font-bold  text-purple-700 "> {t("community.communitySec5.head")}</p></div>
        <div class="pt-5 sm:pt-3"><p class="font-satoshi w-[35vw] sm:w-[60vw] font-medium text-sm text-gray-900 flex-none order-1 flex-grow-0">{t("community.communitySec5.body")}</p></div>
            <div class="pt-5 sm:pt-2 flex gap-5">
                <button class="items-center w-44 text-sm sm:w-20 h-10 font-satoshi bg-purple-700 rounded text-white "><a href="">{t("community.communitySec5.button1")} </a></button>
                <button class="explore items-center w-32 sm:w-20 h-10 font-satoshi border-solid rounded text-sm "><a href="">{t("community.communitySec5.button2")}  </a></button>

            </div>
          
    </div>

    <div class="">
        <img src="../svg/community/dollar.svg" alt="nothinh">
    </div>

</div>



<div class="flex p-20 justify-evenly lg:flex-nowrap  flex-wrap w-[100vw] items-center">

    <div class="">
        <img src="../svg/community/robotarm.svg" alt="nothinh">
    </div>

    <div class="sm:p-0">
       <div><p class="text-2xl sm:text-lg font-grotesk font-bold  text-purple-700 ">Web 4.0 support</p></div>
        <div class="pt-5 sm:pt-3"><p class="font-satoshi w-[35vw] sm:w-[60vw] font-medium text-sm text-gray-900 flex-none order-1 flex-grow-0">Need support? There is no official Web 4.0 support, but 
            hundreds of helpful communities are available to help you prosper on Web 4.0</p></div>
            <div class="pt-5 sm:pt-2 flex gap-5">
                <button class="items-center w-32 text-sm sm:w-20 h-10 font-satoshi bg-purple-700 rounded text-white "><a href="">Get support </a></button>
               

            </div>
          
    </div>

    

</div>



