---
import CommunityCard from "~/components/molecules/communityCard.astro";
---

<div class="w-[100vw]">
    <div class="p-10">
       <div class="flex items-center mb-[3rem] mt-[1rem]  flex-wrap-reverse pb-10">
          <div class="  ">
             <div class=""> <span class="h-12 font-medium text-4xl text-black ">How can I get involved?</span>
             </div>
             <div class="pt-10">
                <p class="w-[50vw] sm:w-none block  font-normal text-lg text-gray-900">There are many ways to get involved in the fast-growing Web 4.0 community; you can join one of the popular online communities, attend an event, join a meetup group, 
                contribute to a project, or participate in one of the many online forums about Web 4.0.</p>
             </div>
          </div>
          <!-- image starts -->
          <div>
          </div>
          <!-- image ends -->
       </div>
       <!-- Card section starts -->
       <div class="flex flex-wrap grid-rows-2 grid-flow-col gap-10 pt-[100px] justify-center">
          <CommunityCard/>
          <CommunityCard/>
          <CommunityCard/>
          <CommunityCard/>
       </div>
       <!-- Card section ends -->
    </div>
 </div>