<style>

    .sec{
        box-shadow: inset 0px -4px 24px rgba(63, 0, 249, 0.25), inset 0px 4px 24px rgba(63, 0, 249, 0.25);
    }

    .find{
        
align-items: center;
padding: 6px 18px;
width: 120px;
background: #3F00F9;
border-radius: 4px;
    }

   .findtext{
   

/* font-family: 'Satoshi Variable'; */
font-style: normal;
font-weight: 500;
font-size: 20px;

color: #FFFFFF;
} 

.explore{
    border-radius: 4px;
    border-color: black;
    align-items: center;
padding: 6px 18px;
width: 174px;
}

.exploretext{
    font-style: normal;
font-weight: 500;
font-size: 20px;

color: #222126;
}


</style>

<div class="">

    <div class="sec bg-purple-300 h-[700px] md:h-auto skew-y-1">
        <div class="flex p-10">

            <div class="-skew-y-1  p-10 pt-[200px]">
                <div class=" "><span class=" h-12  font-medium text-4xl text-black">Get paid for your work.</span></div>
                <div class="pt-10 w-[40vw]"><span class="  text-xl text-gray-900">Are you building on Web 4.0, or do you want to? Companies are hiring for thousands of technical and non-technical roles. 
                    Got an idea of your own? Try finding a grant to get your project off the ground. </span></div>
                
                    <div class="flex pt-10 gap-5 flex-wrap">
                        <div class="find"><a href="/community" aria-label="FindJob Link"> <span class="findtext ">Find Job</span>
                            </a>
                           </div>
                        <div class="explore"><a href="/community" aria-label="Explore Link"> <span class="exploretext">Explore grains</span>  </a></div>
                    </div>
            </div>
<!-- images -->
            <div>
                
            </div>
<!-- images -->
           
        </div>

    </div>

    
</div>