---
import {t} from "i18next";
---

<style>
    .sec{
        box-shadow: inset 0px -4px 24px rgba(63, 0, 249, 0.25), inset 0px 4px 24px rgba(63, 0, 249, 0.25);
    }
  
.explore{
    border: 2px solid black;
   
}
</style>




<div class="flex px-10   sm:flex-wrap-reverse w-[100vw] items-center">

    <div class="">
        <img src="../svg/community/twohand.svg" alt="nothinh">
    </div>

    <div class="sm:p-0">
       <div><p class="text-2xl sm:text-lg font-grotesk font-bold  text-purple-700  "> {t("community.communitySec4.head")}</p></div>
        <div class="pt-5 sm:pt-3"><p class="font-satoshi w-[35vw] sm:w-[60vw] font-medium text-sm text-gray-900 flex-none order-1 flex-grow-0">{t("community.communitySec4.body")}</p></div>
            <div class="pt-5 sm:pt-2 flex gap-5">
                <button class="items-center w-32 text-sm sm:w-20 h-10 font-satoshi bg-purple-700 rounded text-white "><a href="">{t("community.communitySec4.button1")} </a></button>
                <button class="explore items-center w-32 sm:w-20 h-10 font-satoshi border-solid rounded text-sm "><a href="">{t("community.communitySec4.button2")} </a></button>

            </div>
          
    </div>

    

</div>
