---
import CommunitySec1 from "./communitySec1.astro";
import CommunitySec2 from "./communitySec2.astro";
import CommunitySec3 from "./communitySec3.astro";
import CommunitySec4 from "./communitySec4.astro";
import CommunitySec5 from "./communitySec5.astro"
---


<main class="mx-auto max-w-screen ">
  <!-- <CommunitySec1/> -->
  <!-- <CommunitySec2/> -->
  <!-- <CommunitySec3/>  -->
  <!-- <CommunitySec4/>  -->
  <!-- <CommunitySec5/> -->
 
</main>
