---
import {t} from "i18next";
---

<div class="flex sm:flex-wrap-reverse justify-center p-10 h-[80vh]">

    <div class="pt-40">

    <p class="font-grotesk  md:text-4xl text-2xl lg:w-[600px] font-bold text-primary md:w-auto ">{t("community.communitySec1.head")} </p>

        <div class="pt-10  md:w-auto lg:w-[500px] font-medium font-satoshi md:text-lg text-md leading-7 text-gray-900 "> 
            {t("community.communitySec1.body")}
        </div>
    
    </div>

    <div class="">
        <img src="../svg/community/hand.svg" alt="HeroImage">
    </div>
    
</div>
