<style>
    .register{
        background: linear-gradient(90deg, #D1C2FF 34.73%, #A485FF 100%);
        border-radius: 30px;
    
        width: 80vw;
        height: 50vh;
        margin: 0 auto;
        
    }
</style>


<div class="register ">

<div class="flex  items-center">

<!-- content -->
<div class="px-20">

    <div class=" w-[30vw] font-bold text-xl text-black  font-grotesk leading-loose">Want to be an Open Source developer for W4A?</div>
    <div class=" pt-5 w-[35vw] font-satoshi text-md text-gray-900">W4A is always looking for talented individuals to contribute to our projects and help us make 
        a difference. Join our team today and start making an impact in the open source community.</div>

        <div class="pt-5 sm:pt-2 ">
            <button class="items-center w-32 text-sm sm:w-20 h-10 font-satoshi bg-purple-600 rounded text-white "><a href="">Register Now!</a></button>
           

        </div>
</div>

<!-- content ends -->

<!-- image -->
<div class="pt-10 pl-5">
    <img src="../svg/community/laptop.svg" alt="nothinh">
</div>
<!-- image end -->
</div>
<!-- flex end -->

</div>