<style>
    .card2{

        width: 40vw;
        height: 40vh;
        background: #E7ECFA;
        border-radius: 18px;
    }
</style>

<div class="p-5">
    <p class="font-grotesk font-bold text-xl px-10 text-gray-800">Try Web 4.0 for yourself </p>
    

   <!-- 2 cards starts -->
   <div class="flex  gap-x-20 justify-center pt-[200px]" >

    <div class="card2">

        <img  class="translate-x-[15vw] translate-y-[-20vh] absolute" src="../svg/community/rocket.svg" alt="">


        <div class="pt-[100px] pl-5"> <span class="w-60 h-8 font-bold font-grotesk text-lg text-purple-700">Get some  ETH</span></div>
                <div class="pt-3 px-5"> <span class=" h-5 font-medium text-sm text-gray-900"> ETH is the native currency of Ethereum. You'll need some ETH in your wallet to use Ethereum applications.</span></div>
   
   <!-- button -->
   <div class="pt-5 pl-5 sm:pt-2 ">
    <button class="items-center w-auto text-sm sm:w-20 h-10 font-satoshi bg-purple-700 rounded text-white "><a href="" class="px-[4px]">Get ETH</a></button>
   
<!-- button end -->
</div>
            </div>

    <div class="card2">
       
        <img  class="translate-x-[15vw] translate-y-[-20vh] absolute" src="../svg/community/vr2.svg" alt="">


        <div class="pt-[100px] pl-5"> <span class="w-60 h-8 font-bold font-grotesk text-lg text-purple-700">Try some dapps</span></div>
                <div class="pt-3 px-5"> <span class=" h-5 font-medium text-sm text-gray-900"> Dapps are applications built on Ethereum. Dapps are disrupting current business models and inventing new ones.</span></div>
   
   <!-- button -->
   <div class="pt-5 pl-5 sm:pt-2 ">
    <button class="items-center w-auto text-sm sm:w-20 h-10 font-satoshi bg-purple-700 rounded text-white "><a href="" class="px-[4px]">Explore dapps</a></button>
   
<!-- button end -->
</div>

    </div>


   </div>
        
   <!-- 2 cards ends -->



  
</div>

 <!-- page helpful -->

 <div class=" h-40 w-[100vw]  my-20   bg-gray-300">

    <p class="pl-20 pt-10  font-medium font-grotesk text-xl  text-purple-700">Was this page helpful? </p>

    <div class="flex gap-x-5">

    <div class="pl-20 pt-[20px]">
        <a href="">
        <svg width="68" height="29" viewBox="0 0 68 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.6184 11.9111H14.5237C14.2357 11.9111 14 12.1457 14 12.4348V21.8609C14 22.1499 14.2347 22.3845 14.5237 22.3845H16.6184C16.9074 22.3845 17.142 22.1499 17.142 21.8609V12.4348C17.142 12.1457 16.9063 11.9111 16.6184 11.9111Z" fill="#1C1CFF"/>
        <path d="M28.7327 11.913C28.6483 11.8987 24.6995 11.913 24.6995 11.913L25.2511 10.4082C25.6317 9.36894 25.3852 7.78207 24.3292 7.2179C23.9855 7.0342 23.5051 6.94193 23.1177 7.03943C22.8956 7.09531 22.7004 7.24237 22.584 7.43939C22.4503 7.66599 22.4641 7.9305 22.4165 8.18175C22.2956 8.81903 21.9944 9.42496 21.5282 9.87975C20.7151 10.6727 18.1895 12.9603 18.1895 12.9603V21.339H26.9173C28.095 21.3397 28.8668 20.0246 28.2859 18.9973C28.9783 18.5538 29.2152 17.6198 28.8096 16.9026C29.5021 16.4592 29.7388 15.5251 29.3333 14.8079C30.528 14.0428 30.1286 12.1491 28.7327 11.913Z" fill="#1C1CFF"/>
        <rect x="0.5" y="0.5" width="67" height="28" rx="4.5" stroke="#1C1CFF"/>
        <path d="M39.06 15.472V19H40.236V15.472L43.152 10.324H41.868L39.948 13.792C39.792 14.08 39.768 14.152 39.66 14.368C39.564 14.164 39.492 13.996 39.372 13.792L37.44 10.324H36.12L39.06 15.472ZM45.4418 19.144C46.8938 19.144 47.8778 18.436 48.1658 17.176H47.1098C46.9178 17.848 46.3418 18.208 45.4658 18.208C44.3498 18.208 43.7018 17.524 43.6178 16.288L48.1537 16.276V15.856C48.1537 14.116 47.0618 12.964 45.3938 12.964C43.6898 12.964 42.5258 14.236 42.5258 16.072C42.5258 17.896 43.7138 19.144 45.4418 19.144ZM45.3938 13.912C46.3898 13.912 47.0258 14.56 47.0258 15.532H43.6418C43.7858 14.5 44.4098 13.912 45.3938 13.912ZM48.9337 17.296C48.9337 18.412 49.8097 19.144 51.1897 19.144C52.5817 19.144 53.5417 18.436 53.5417 17.32C53.5417 16.444 53.0497 15.988 52.0537 15.748L51.0217 15.496C50.4457 15.352 50.1577 15.088 50.1577 14.692C50.1577 14.152 50.5537 13.84 51.2617 13.84C51.9457 13.84 52.3417 14.212 52.3657 14.8H53.4457C53.4217 13.684 52.5817 12.964 51.2977 12.964C50.0017 12.964 49.0897 13.648 49.0897 14.728C49.0897 15.592 49.5817 16.108 50.6257 16.36L51.6577 16.6C52.2697 16.756 52.4617 16.996 52.4617 17.392C52.4617 17.932 52.0057 18.256 51.2137 18.256C50.4697 18.256 50.0137 17.896 50.0137 17.296H48.9337Z" fill="#1C1CFF"/>
        </svg>
    </a>
    </div>

    <div class=" pt-[20px]">
        <a href=""><svg width="68" height="29" viewBox="0 0 68 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.4217 18.4734L29.5164 18.4734C29.8043 18.4734 30.04 18.2389 30.04 17.9497L30.04 8.52366C30.04 8.23466 29.8054 8.00004 29.5164 8.00004L27.4217 8.00004C27.1327 8.00004 26.898 8.23466 26.898 8.52366L26.898 17.9497C26.898 18.2389 27.1337 18.4734 27.4217 18.4734Z" fill="#1C1CFF"/>
            <path d="M15.3074 18.4715C15.3917 18.4858 19.3405 18.4715 19.3405 18.4715L18.789 19.9763C18.4084 21.0156 18.6548 22.6025 19.7108 23.1666C20.0546 23.3503 20.535 23.4426 20.9223 23.3451C21.1444 23.2892 21.3396 23.1421 21.456 22.9451C21.5898 22.7185 21.576 22.454 21.6236 22.2028C21.7444 21.5655 22.0456 20.9596 22.5119 20.5048C23.325 19.7118 25.8506 17.4242 25.8506 17.4242L25.8506 9.04551L17.1228 9.04551C15.945 9.04478 15.1733 10.36 15.7541 11.3872C15.0617 11.8307 14.8249 12.7647 15.2304 13.482C14.538 13.9254 14.3012 14.8594 14.7067 15.5766C13.512 16.3418 13.9115 18.2354 15.3074 18.4715Z" fill="#1C1CFF"/>
            <rect x="0.5" y="0.5" width="67" height="28" rx="4.5" stroke="#1C1CFF"/>
            <path d="M38.184 19V12.292L42.624 19H43.8V10.324H42.624V17.032L38.184 10.324H37.008V19H38.184ZM45.2445 16.06C45.2445 17.872 46.5405 19.144 48.3045 19.144C50.0565 19.144 51.3525 17.872 51.3525 16.06C51.3525 14.248 50.0565 12.976 48.3045 12.976C46.5405 12.976 45.2445 14.248 45.2445 16.06ZM46.3845 16.06C46.3845 14.836 47.1645 13.984 48.3045 13.984C49.4325 13.984 50.2245 14.836 50.2245 16.06C50.2245 17.284 49.4325 18.136 48.3045 18.136C47.1645 18.136 46.3845 17.284 46.3845 16.06Z" fill="#1C1CFF"/>
            </svg>
        </a>
    </div>
    </div>
</div>
 


 
    <!-- page helpful ends -->