---
import { changeLanguage } from "i18next";

changeLanguage("fr");
---

<script src="src/scripts/test.jsx"></script>

<button class="btn">
  Hide
</button>
<p class="myText">
  You can hide and show me again.
</p>