---
import HomeButton from "../../Atoms/homeButton.astro";
import W4logo from "../../Atoms/w4logo.astro";
import { Image, Picture } from '@astrojs/image/components';
import HeroText from "~/components/Atoms/herotext.astro";
import i18next, { t } from "i18next";

// import ParallaxFG from "public/images/parallaxFG.astro";

---

<style>
  #grad2 {
    /* background: linear-gradient(180deg, #0E0A1B 0%, #22193E 50.83%, #302358 102.74%, #362762 159.09%, #463380 207.64%); */
    background: linear-gradient(180deg, #FFFFFF 100.91%, #6E54FF 205%);
    /* animation: change 5s both; */

  }
  @keyframes change {
    0% {
      background: linear-gradient(180deg, #0E0A1B 0%, #22193E 24.48%, #302358 49.48%, #362762 76.62%, #463380 100%);
    }
    100 % {
      background: linear-gradient(180deg, #0E0A1B 0%, #22193E 50.83%, #302358 102.74%, #362762 159.09%, #463380 207.64%);

    }
  }

    #grad0 {
      /* background: linear-gradient(180deg, #FFFFFF -0.86%, #6E53FF 99.6%); */
      background: linear-gradient(180deg, #FFFFFF 20.91%, #6E54FF 99.6%);
    }

   #grad1 {
   
    animation: colorchange 5s both;
   
  }
  @keyframes colorchange {
     0% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #0894ff 63.49%,
      #6e53ff 87.63%,
      #b038ea 97.77%,
      #f95088 107.91%,
      #ff6f62 117.33%
    );
    /* 
    3 background-image: linear-gradient(to right top, #6e53ff, #7352fe, #7850fd, #7d4ffb, #824dfa);
    4 background-image: linear-gradient(to right top, #b038ea, #c130e0, #cf28d5, #db21cb, #e51cc0);
    6 background-image: linear-gradient(to right top, #ff6f62, #ff6a6e, #ff667b, #ff6388, #ff6295);
    */
    }  12% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #068eff 63.49%,
      #7850fd 87.63%,
      #cf28d5 97.77%,
      #ff667b 107.91%,
      #ff6f62 117.33%
    );
    }
    25% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #0f88ff 63.49%,
      #824dfa 87.63%,
      #e51cc0 97.77%,
      #f95088 107.91%,
      #ff6295 117.33%
    );
    }
    /* 
    background-image: linear-gradient(to right top, #0f88ff, #1884ff, #2181ff, #297dff, #3179ff);
    background-image: linear-gradient(to right top, #824dfa, #864cf9, #8b4af8, #8f49f6, #9347f5);
    background-image: linear-gradient(to right top, #e51cc0, #ed1ab6, #f41dab, #fa22a1, #fe2a98);
    background-image: linear-gradient(to right top, #ff6295, #fa63a2, #f465af, #eb68bc, #e16cc8);
    */
    38% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #2181ff 63.49%,
      #8b4af8 87.63%,
      #f41dab 97.77%,
      #f95088 107.91%,
      #f465af 117.33%
    );
    }
    50% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #3179ff 63.49%,
      #9347f5 87.63%,
      #fe2a98 97.77%,
      #f95088 107.91%,
      #e16cc8 117.33%
    );
    }
    63% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #4171ff 63.49%,
      #9b44f3 87.63%,
      #ff3c87 97.77%,
      #f95088 107.91%,
      #c676de 117.33%
    );
    }
    75% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #5168ff 63.49%,
      #a240f0 87.63%,
      #ff4d78 97.77%,
      #f95088 107.91%,
      #a281ef 117.33%
    );
    }
    80% {
      background: linear-gradient(
        180deg,
        #ffffff 18.27%,
        #6e53ff 63.49%,
        #a63eef 84.9%,
        #ff5672 99.08%,
        #f95088 114.37%,
        #8c86f5 126.04%
      );
    } 
    87% {
      background: linear-gradient(
        180deg,
        #ffffff 18.27%,
        #6e53ff 63.49%,
        #a93ced 84.9%,
        #ff5e6c 99.08%,
        #f95088 114.37%,
        #728bfa 126.04%
      );
    } 
    94% {
      background: linear-gradient(
        180deg,
        #ffffff 18.27%,
        #6e53ff 63.49%,
        #ad3aec 84.9%,
        #ff6766 99.08%,
        #f95088 114.37%,
        #5090fe 126.04%
      );
    } 
    100% {
      background: linear-gradient(
        180deg,
        #ffffff 18.27%,
        #6e53ff 63.49%,
        #b038ea 84.9%,
        #ff6f62 99.08%,
        #f95088 114.37%,
        #0894ff 126.04%
      );
    } 
  } 
 /* (12) 
 background-image: linear-gradient(to right top, #0894ff, #0691ff, #068eff, #0a8bff, #0f88ff);
 */

  /*1st (63)
   background-image: linear-gradient(to right top, #3179ff, #3975ff, #4171ff, #496dff, #5168ff);
  background-image: linear-gradient(to right top, #9347f5, #9745f4, #9b44f3, #9e42f1, #a240f0);
  background-image: linear-gradient(to right top, #fe2a98, #ff338f, #ff3c87, #ff447f, #ff4d78);
   4th 
background-image: linear-gradient(to right top, #e16cc8, #d571d3, #c676de, #b57ce7, #a281ef); */

  .overLapX {
    /* transform: translate(100px); */
    z-index: 0;
    animation: trax 5s both;
  }

  .overLap {
    transform: translate(100px, -30px);
    animation: trax 5s both;
  }
  @keyframes trax {
    100%{
      transform: translate(125px, -30px);
    }
  }
  .overLapMD {
    /* /* bottom: 0; */
    transform: translate(50px, -20px);
    animation: traxMD 5s forwards;
  }

  @keyframes traxMD {
    100%{
      transform: translate(80px, -20px);
    }
  }

  .overLapSM {
    transform: translate(60px, 0px);
    animation: traxSM 5s forwards;
  }

  @keyframes traxSM {
    100%{
      transform: translate(90px, 0px);
    }
  }


  .sunSvg {
    transform: translate(1vw,-600px);
    animation: sunani 5s forwards; 
    display: absolute;
    z-index: -1;



  }

  @keyframes sunani {
    100% {
      width: 450px;
      height: 450px;
      transform: translate(35vw, 30vh);
      
      opacity: 1;
    }
  }
   .sunSvgMD {
    transform: translate(1vw,-300px);
    animation: sunaniMD 5s forwards;

  }
  @keyframes sunaniMD {
    100% {
      width: 450px;
      height: 450px;
      transform: translate(20vw, 16vh);
      border-radius: 10000px;
      opacity: 0.5;
    }
  }

  .sunSvgSM {
    transform: translate(1vw,-400px);
    animation: sunaniSM 5s forwards;
    width: 100px;
    height: 100px;

  }
  @keyframes sunaniSM {
    100% {
      width: 300px;
      height: 300px;
      transform: translate(15vw, 10vh);
      border-radius: 10000px;
      opacity: 0.5;
    }
  }
 

</style>
<!-- <div class="element"> -->

  <div id="grad0" class="bg-gradient relative h-[100vh] w-[100vw] overflow-hidden">
    
    
        <!-- W4A img -->
        <div class="z-11">

            <div class="w-[100vw] text-center pt-[16vh] md:pt-[15vw] sm:pt-[15vh] z-10">
              <img class="block m-auto" src="../svg/index/herologo.svg" width="200" height="52" alt="W4A.io home logo"  />
            </div>
            

            <!-- human&Machine text change -->
           
            <div class="absolute m-auto w-[100vw] text-center z-10 pt-[1vw] md:p-[2vw] sm:pt-[3vh] sm:text-3xl text-2xl md:text-6xl">  <HeroText /> </div>
            
      
            <!-- paragraph -->
            <div class="top-[30%] m-auto absolute w-[100vw] text-center z-10 p-[1vw] md:p-[2vw] sm:p-[5vw] 
            font-medium  text-textblue font-satoshi h-20 
            sm:h-[15vh] text-[32px] sm:m-[10px] sm:text-[100px] sm:z-10 sm:p-[10px] sm:translate-x-[-10px]">
              <p>{t("index.heroSection.para.p1")}</p>
              <p>{t("index.heroSection.para.p2")}</p>
            </div>
            
            <!-- join community -->
            <div class="top-[45%] absolute w-[100vw] text-center z-10"><HomeButton /></div>
        </div>
        
     
    <!-- For Laptop -->
        <div class="sm:hidden md:hidden bottom-0">
            <div class="absolute z-1">
              <svg class="sunSvg" width="100" height="100" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="130" cy="130" r="130" fill="white" fill-opacity="1"/>
                </svg>
            </div>

              <!--advertizment -->
            
                    <!-- <img src="../svg/index/adv2.svg" height="300px" width="1000px" class="blink2"> -->
        
            <!--advertizment end -->
            <!-- <div class="absolute z-2">
              <img src="../images/parallaxBG.svg" class="overLapX bottom-0 w-[100vw]" alt="Laptop paralax image" />
            </div> -->
            
            <!--cars -->
            <img src="../svg/index/flyingcar1.svg" class="car1 relative z-5" alt="Laptop paralax image front" />
            <img src="../svg/index/flyingcar2.svg" class="car2 z-1" alt="Laptop paralax image front" />
            <img src="../svg/index/flyingcar3.svg" class="car3 z-2" alt="Laptop paralax image front" />
            <!-- <img src="../svg/index/drone1.svg" class="drone1 z-3" alt="Laptop paralax image front" /> -->
            
            <!--cars end-->
              
            <img src="../images/parallaxBG.svg" class="absolute overLap z-0 bottom-0 w-[100vw]" alt="Laptop paralax image" />
            <img src="../images/parallaxMG.svg" class="absolute overLap z-2 bottom-0 w-[100vw]" alt="Laptop paralax image" />
            <img src="../svg/index/drone1.svg" class="absolute drone1 z-3" alt="Laptop paralax image front" />
            <img src="../images/parallaxFG.svg" class="absolute z-4 bottom-0 w-[100vw]" alt="Laptop paralax image front" />
            <img src="../svg/index/advertizment.svg" class="bottom-0 z-6 blink1" alt="image front" />
            <img src="../svg/index/buynow.svg" class="bottom-0 z-6 blink2" alt="image front" />



            <style>

              .blink1 {
                animation: hideshow 3s ease infinite;
                transform: translate(278px, 170px);
              }
              @keyframes hideshow {
                0% { opacity: 1; }
                25% { opacity: 0; }
                50% { opacity: 1; }
                75% { opacity: 0; }
                100% { opacity: 1; }
              }
              .blink2 {
                animation: hideshow 3s ease infinite;
                transform: translate(575px, 140px);
              }
              
              .car1 {
                animation: car1 16s ease infinite;
              }

              @keyframes car1 {
                0%{
                   transform: translate(100vw, 0px);
                    animation-timing-function:ease-in
                }

                35% {
                    transform: translate(100vw, 0px);
                    animation-timing-function:linear
                }

                65% {
                    transform: translate(50vw, 50px);
                    animation-timing-function:linear
                }

                100% {
                    transform: translate(-150px, 100px);
                    animation-timing-function:ease-in
                }
              }
              .car2 {
                animation: car2 13s ease infinite;
              }

              @keyframes car2 {
                0%{
                   transform: translate(-100px, -100px);
                    animation-timing-function:ease-in
                }

                30% {
                    transform: translate(100px, -60px);
                    animation-timing-function:ease-in
                }

                70% {
                    transform: translate(50vw, 0px);
                    animation-timing-function:linear
                }

                100% {
                    transform: translate(100vw, -30px);
                    animation-timing-function:ease-in
                }
              }
              .car3 {
                animation: car3 15s ease infinite;
              }

              @keyframes car3 {
                0%{
                   transform: translate(100vw, 0px);
                    animation-timing-function:linear
                }

                30% {
                    transform: translate(60vw, -40px);
                    animation-timing-function:linear
                }

                70% {
                    transform: translate(30vw, -60px);
                    animation-timing-function:linear
                }

                100% {
                    transform: translate(-50px, -30px);
                    animation-timing-function:ease-in
                }
              }
              .drone1 {
                animation: drone1 12s ease infinite;
              }

              @keyframes drone1 {
                0%{
                   transform: translate(100vw, 0px);
                    animation-timing-function:linear
                }

                30% {
                    transform: translate(100vw, 0px);
                    animation-timing-function:linear
                }

                70% {
                    transform: translate(30vw, 60px);
                    animation-timing-function:linear
                }

                100% {
                    transform: translate(-50px, 100px);
                    animation-timing-function:ease-in
                }
              }
              .overLapX {
                
                transform: translate(100px, 0px);
                /* z-index: 0; */
                animation: trax 5s both;
              }
              @keyframes trax {
                100%{
                  transform: translate(125px, 0px);
                }
              }
            </style>




            
        </div>

        <!-- for tablet -->
        <div class="h-[300px] w-auto sm:w-20 sm:hidden lg:hidden">
            <div class="absolute z-0">
              <svg class="sunSvgMD" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
                </svg>
            </div>
            
            <img src="../images/Parallax.svg" class="overLapMD absolute z-1 bottom-0 w-[100vw]" alt="Laptop paralax image" />
            <img src="../images/Parallax.svg" class="absolute z-2 bottom-0 w-[100vw]" alt="Tablet paralax image front" />
        </div>

        <!-- for mobile -->
        <div class="h-[300px] w-auto sm:w-20 md:hidden lg:hidden">
            <div class="absolute z-0">
              <svg class="sunSvgSM" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
                </svg>
            </div>
            
              <img src="../images/ParallaxMobile.svg" class="overLapSM absolute z-1 bottom-0 w-[100vw]" alt="Mobile paralax image" />
              <img src="../images/ParallaxMobile2.svg" class="absolute z-2 bottom-0 w-[100vw]" alt="Mobile paralax image front" />
        
        </div>



</div>
<!-- 
<div id="grad1" class="z-0 md:bottom-0 overflow-hidden sm:h-[525px]">
  <div class="font-satoshi m-0 p-0 w-[100vw] h-auto">
    <div class="w-[100vw] h-auto text-center translate-y-[60px] sm:translate-y-[30px] md:translate-y-[100px]">
      <div class="flex justify-center items-center space-x-2 top-0 translate-y-[150px]">
        <img class="w-[200px] h-[200px]" src="../svg/index/herologo.svg" />
      </div>
      <div class="wrapper justify-center pt-[100px]">
        <ul class="dynamic-txts font-grotesk sm:text-3xl text-4xl md:text-3xl">
          <li>
            <span class="second font-medium text-[52px] ">Human And Machine</span
            >
          </li>
          <li>
            <span class="second font-medium text-[48px]">Web 4.0 for Ads</span>
          </li>
          <li>
            <span class="second font-medium text-[48px]">Web for All</span>
          </li>
          <li>
            <span class="second font-medium text-[48px]"
              >Web 4.0 for Anything
            </span>
          </li>
        </ul>
      </div>

      <div
        class="h-16 sm:h-28 font-medium text-[32px] text-purple-800 font-satoshi sm:m-[15px] sm:text-[80px]"
      >
        <p>Human decisioning meets Machine Intelligence</p>
        <p>Developing precursor to intelligent Homind aka silico spains</p>
      </div>
      
      <div class="mt-[25px]">
        <HomeButton />
      </div>
    </div>
  </div>
  
  <div class="h-[300px] w-auto sm:w-20 sm:hidden md:hidden bottom-0">
 
    <svg class="sunSvg" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
    </svg>

    <div class="py-10">
      <img src="../images/Parallax.svg" class="overLap" />
      <img src="../images/Parallax.svg" class="overLap2" alt="" />
    </div>

  </div>

  <div class="h-[300px] w-auto sm:w-20 sm:hidden lg:hidden">
    <svg class="sunSvgMD" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
    </svg>

    <div class="py-20">
      <img src="../images/Parallax.svg" class="overLapMD" />
      <img src="../images/Parallax.svg" class="overLap2MD" alt="" />
    </div>
  </div>

  <div class="h-[300px] w-auto sm:w-20 md:hidden lg:hidden">
    <svg class="sunSvgSM" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
    </svg>
    <div class="py-10">
      <img src="../images/Parallax.svg" class="overLapSM" />
      <img src="../images/Parallax.svg" class="overLap2SM" alt="" />
    </div>
  </div>


</div> -->
