---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import HumanMachine from "~/components/molecules/HumanMachine.astro";
import type { CompatibilityItem } from "~/types";
---

<ContentSection title="Creating Web 4.0 for all" id="whatisweb4">
  <Fragment slot="lead">
    <div class="text-secondary m-[8vw] text-lg text-center">
      <span>
          Web 4.0 is Symbiotic Web where Human and machines work in symbiosis. 
          The idea being the symbiotic web is that once the metadata is organized 
          humans and machines can interact in symbiosis (with each other).
      </span>
    </div>
  
    <div class="items-center">
      <!-- <HumanMachine /> -->
    </div>
  </Fragment>
</ContentSection>
