<div class="start">
    <div class="searchbox">

    </div>
    <div class="slide-sample">
        <div class="slideouter">
        <div class="slideinner">
            <div class="srcl">
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
                <div><img src="../svg/research/slidercard.svg" /></div>
            </div>
        </div>
        </div>
    </div>
</div>

<style>
        a {
      text-decoration: none;
      font-weight: bold;
    }


.outer{border: 1px solid;}

.start{
    background-color: #F3EEFF;
}

.srcl {
      display: flex;
      margin: auto;
      width: 80vw;
      margin: 10px auto;
      justify-content: space-between;
    }

.srcl div {
      /* border: 1px solid #888; */
      padding: 5px;
      width: 80px;
      position: relative;
      margin-right:5px;
      width: 216.2px;
        height: 212.8px;

        background: #D1C2FF;
        mix-blend-mode: normal;
        border-radius: 20.3478px;

        /* Inside auto layout */

        flex: none;
        order: 0;
flex-grow: 0;
  /* background:#e1e1e1; */
    }
    .slideinner{
        width: 80vw;
    }

    .slide-sample{
      margin: auto;
      position: relative;
      display: table;
      width: 80vw;
    }

    .slideouter {
      width: 80vw;
      overflow-x: scroll;
      margin: auto;
      display: flex;
    }
</style>