---
import {t} from "i18next";
---

<style>
    .boo{
        border: 1px solid #0A090F;
    }

    .butto{
    width:-webkit-fill-available
}
.card {
  padding: 1rem;
/* border: 1px solid #0A090F; */

}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .cards { 
    grid-template-columns: repeat(2, 1fr);
 }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

/* @media (min-width: 375px){
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 40px;
    }
} */
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

</style>

<div class="cards sm:p-[40px] pt-[20px]">
    <div class="card p-5 bg-lightdark">
        <heading class="font-grotesk font-bold text-lg text-primary sm:text-md"> {t("research.researchGrid.head1")} </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body1")} </p>
        <img src="../svg/research/dappR.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/dapps">{t("research.researchGrid.button1")}</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        
        <heading class="font-grotesk font-bold text-lg text-primary"> {t("research.researchGrid.head2")} </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body2")}</p>
        <img src="../svg/research/nft.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/nfts">{t("research.researchGrid.button2")}</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        <heading class="font-grotesk font-bold text-lg text-primary sm:text-md">{t("research.researchGrid.head3")}  </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body3")}</p>
        <img src="../svg/research/iot.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/iot">{t("research.researchGrid.button3")}</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        
        <heading class="font-grotesk font-bold text-lg text-primary">{t("research.researchGrid.head4")}  </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body4")}</p>
        <img src="../svg/research/arvr.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/arvr">{t("research.researchGrid.button4")}</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        <heading class="font-grotesk font-bold text-lg text-primary sm:text-md">{t("research.researchGrid.head5")}  </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body5")}</p>
        <img src="../svg/research/AIML.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/AIML">{t("research.researchGrid.button5")}</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        
        <heading class="font-grotesk font-bold text-lg text-primary">{t("research.researchGrid.head6")} </heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">{t("research.researchGrid.body6")}</p>
        <img src="../svg/research/5g.svg" class="" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/research/5g">{t("research.researchGrid.button6")}</a></button>
        </div>
    </div>

</div>