<style>
    .boo{
        border: 1px solid #0A090F;
    }

    .butto{
    width:-webkit-fill-available
}
.card {
  padding: 1rem;
/* border: 1px solid #0A090F; */

}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .cards { 
    grid-template-columns: repeat(2, 1fr);
 }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* @media (min-width: 375px){
    .cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 40px;
    }
} */
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

</style>

<div class="cards sm:p-[40px] pt-[20px]">
    <div class="card p-5 bg-lightdark">
        <heading class="font-grotesk font-bold text-lg text-primary sm:text-md"> What is Web4?</heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">If you are new, start here to learn the basics of Web 4.0 and why it matters. Get to know the future and learn its uses.</p>
        <img src="../svg/index/brain.svg" width="300px" height="300px" class="ml-30" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/">Know More</a></button>
        </div>
    </div>

    <div class="card p-5 bg-lightdark">
        
        <heading class="font-grotesk font-bold text-lg text-primary"> How can you help?</heading>
        <p class="py-5 font-satoshi font-medium text-base text-secondary">If you are new, start here to learn the basics of Web 4.0 and why it matters. Get to know the future and learn its uses.</p>
        <img src="../svg/developer/laptopHuman.svg" width="300px" height="300px" class="ml-30" alt="Tablet paralax image front" />
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-full pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/">Know More</a></button>
        </div>
    </div>

</div>