---
import HomeButton from "../components/Atoms/homeButton.astro";
import TextChange from "~/components/Atoms/TextChange.astro";
import Header from "~/components/header.astro";
---

<style>

#grad1 {
   
    animation: colorchange 5s both;
   
  }
  @keyframes colorchange {
     0% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #0894ff 68.43%,
      #6e53ff 87.63%,
      #b038ea 97.77%,
      #f95088 107.91%,
      #ff6f62 117.33%
    );
    }
    25% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #0f88ff 68.43%,
      #824dfa 87.63%,
      #e51cc0 97.77%,
      #f95088 107.91%,
      #ff6295 117.33%
    );
    }
    50% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #3179ff 68.43%,
      #9347f5 87.63%,
      #fe2a98 97.77%,
      #f95088 107.91%,
      #e16cc8 117.33%
    );
    }
    75% {
      background: linear-gradient(
      180deg,
      #ffffff 12%,
      #5168ff 68.43%,
      #a240f0 87.63%,
      #ff4d78 97.77%,
      #f95088 107.91%,
      #a281ef 117.33%
    );
    }
    100% {
      background: linear-gradient(
        180deg,
        #ffffff 18.27%,
        #6e53ff 63.49%,
        #b038ea 84.9%,
        #ff6f62 99.08%,
        #f95088 114.37%,
        #0894ff 126.04%
      );
    } 
  } 

  .overLap {
    animation: trax 5s both;
  }
  @keyframes trax {
    100%{
      transform: translate(65px, -30px);
    }
  }


  .sunSvg {
    transform: translate(25px,-300px);
    animation: sunani 5s forwards;
  }
  @keyframes sunani {
    100% {
      width: 550px;
      height: 550px;
      transform: translate(400px, 60px);
      
      opacity: 0.5;
    }
  }
</style>
<Header />


<div id="grad1" class="bg-black relative h-[100vh] w-[100vw] overflow-hidden">
    
    
        <!-- W4A img -->
          <div class="w-[100vw]  text-center pt-[85px] z-10">
            <img class="block m-auto" src="../svg/index/herologo.svg" />
          </div>
          

          <!-- human&Machine text change -->
          <div class="w-[100vw] text-center z-10"> <TextChange/> </div>
          
    
          <!-- paragraph -->
          <div class=" font-medium  text-purple-800 font-satoshi w-[100vw] text-center z-10">
            <p>Human decisioning meets Machine Intelligence</p>
            <p>Developing precursor to intelligent Homind aka silico spains</p>
          </div>
          
          <!-- join community -->
          <div class="pt-[25px] absolute w-[100vw] text-center z-10"><HomeButton /></div>
        
     


<!-- sun image -->
    <div class="absolute z-0">
        <svg class="sunSvg" width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="130" cy="130" r="130" fill="white" fill-opacity="0.6"/>
          </svg>
    </div>


    <!-- parallax img -->
    <div class="overLap absolute z-10 bottom-0 w-[100vw]">
        <img src="../images/Parallax.svg" class="overLap2 w-[100vw]" alt="" />
    </div>
    <div class=" absolute z-10 bottom-0 w-[100vw]">
        <img src="../images/Parallax.svg" class="overLap2 w-[100vw]" alt="" />
    </div>


</div>


<div class="bg-black w-[500px] h-[100vh]">hwkufg jgfjgf efgh aekjrhrfg kjerhfuregf jkwEGFUGRF KWEGFEWF</div>