---
import FooterParalaxScroll from "~/components/organisms/index/footerParalaxScroll.astro";
import "src/styles/theme.css";
---
   


<section class="bg-dark w-[100vw] h-[100vw] ">Hellowe</section>


<div class="scrollElement">
     <script src="src/scripts/footerParalax.jsx"></script>

<FooterParalaxScroll />
</div>