---
import FooterList from "~/components/molecules/footerList.astro";

const image=["../svg/facebook.svg","../svg/LinkedIn.svg","../svg/twitter.svg","../svg/reddit.svg","../svg/Discord.svg"]
---


<footer class="w-[100vw]">
    <div class="flex flex-wrap-reverse py-3 px-2 gap-6 justify-center sm:justify-start">
    <div class="innerContent flex  gap-5 sm:flex-col  ">
        <div>
            <FooterList heading="Research" body={["Learn about Web 4.0"]}/>
        </div>
        <div class="">
            <FooterList heading="Developers" body={["Resources","Documentation","Tutorials"]}/>
        </div>
        <div>
            <FooterList heading="Community Hub" body={["Online Communities","Events","How can I get involved?","Research","Grants","Support","Language Resources"]}/>
        </div>
        <div>
                <FooterList heading="About Web 4.O" body={["About Us","Jobs","Contribution","Language Support","Privacy Policy","Terms of Use","Cookie policy"]}/>
        </div>
    
    </div>
    
    <!-- Footer logo -->
    
    <div class="flex lg:flex-col lg:gap-1  gap-4 pb-2 h-auto items-baseline lg:">
       
       {image.map((data) =><div class="list-none pb-5">  <a href="/community" aria-label="iconsLink"><object data={data} aria-label="icons"></object></a> </div>)}
    
        
        
    </div>
    
    </div>
    
    
    
    <div class="w-[100vw]">
        
    <div class="sm:hidden ">
    
        <svg width="694" height="135" class="absolute" viewBox="0 0 694 128" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M149.264 18.8827C57.5277 11.2653 0 40.8058 0 40.8058V128C0 128 201.031 128.441 335.5 128C473.849 127.546 694 128 694 128C694 128 576.238 71.3389 450.869 79.6695C325.5 88.0001 241 26.5001 149.264 18.8827Z" fill="url(#paint0_radial_795_117)"/>
            <rect x="58" y="2" width="68" height="68" rx="10" fill="url(#paint1_radial_795_117)" stroke="white" stroke-width="4"/>
            <path d="M91.477 42.8378C90.2762 43.0014 89.207 42.068 89.207 40.8561V32.6261C89.207 31.8675 89.074 31.2154 88.808 30.6697C88.5553 30.1107 88.1696 29.6848 87.6509 29.392C87.1455 29.0992 86.527 28.9528 85.7955 28.9528C84.9842 28.9528 84.2926 29.0859 83.7207 29.3521C83.1488 29.6049 82.7032 29.951 82.384 30.3902C81.8998 31.0644 81.2224 31.7796 80.3942 31.7231L78.5222 31.5954C77.4729 31.5238 76.6126 30.6281 76.9454 29.6304C77.0394 29.3486 77.1565 29.0761 77.2968 28.813C77.7357 28.0012 78.3541 27.2958 79.1521 26.6969C79.9634 26.0979 80.9343 25.6321 82.0648 25.2994C83.1953 24.9667 84.4522 24.8003 85.8354 24.8003C87.5511 24.8003 89.0407 25.0931 90.3042 25.6787C91.581 26.2643 92.5719 27.1427 93.2768 28.3139C93.9817 29.4718 94.3342 30.9226 94.3342 32.6661V40.7025C94.3342 41.7027 93.5953 42.5491 92.6042 42.6841L91.477 42.8378ZM88.3379 33.9038C89.2933 33.9038 90.0693 34.6754 90.0748 35.6307C90.0803 36.5938 89.3011 37.3776 88.3379 37.3776H85.7157C84.7448 37.3776 83.9268 37.5306 83.2618 37.8367C82.6101 38.1295 82.118 38.5222 81.7855 39.0146C81.453 39.507 81.2868 40.0394 81.2868 40.6117C81.2868 41.1441 81.4131 41.6166 81.6658 42.0292C81.9185 42.4417 82.3042 42.7678 82.8229 43.0074C83.3416 43.2336 84 43.3468 84.798 43.3468C85.3965 43.3468 86.0083 43.2403 86.6334 43.0273C87.2585 42.8011 87.8304 42.5149 88.3491 42.1689C88.8811 41.8229 89.3067 41.4502 89.6259 41.0509C89.9003 40.7077 90.6425 40.5498 90.925 40.8863L92.1196 42.3094C92.4332 42.683 92.4962 43.216 92.2051 43.6073C91.8857 44.0367 91.4782 44.4689 90.9825 44.904C90.2244 45.5561 89.2469 46.1018 88.0499 46.541C86.8662 46.9802 85.4497 47.1998 83.8005 47.1998C82.1247 47.1998 80.7016 46.927 79.5312 46.3813C78.3741 45.8356 77.4963 45.0637 76.8978 44.0655C76.2993 43.054 76 41.8761 76 40.5319C76 39.4804 76.2062 38.5488 76.6185 37.7369C77.0308 36.9117 77.6426 36.2197 78.4539 35.6607C79.2652 35.0884 80.276 34.6558 81.4863 34.363C82.6966 34.0569 84.0931 33.9038 85.6758 33.9038H88.3379ZM99.5411 47.1998C97.8786 47.1998 96.409 46.9469 95.1322 46.4412C93.8687 45.9354 92.798 45.2167 91.9202 44.2851C91.0557 43.3401 90.3973 42.2354 89.9451 40.9711C89.5062 39.6934 89.2868 38.2959 89.2868 36.7786V35.5409C89.2868 33.9571 89.5062 32.513 89.9451 31.2087C90.384 29.8911 91.0224 28.7531 91.8603 27.7949C92.6983 26.8366 93.7157 26.0979 94.9127 25.5789C96.123 25.0465 97.4863 24.787 99.0025 24.8003C100.426 24.8003 101.689 25.0265 102.793 25.4791C103.91 25.9316 104.855 26.5837 105.626 27.4355C106.397 28.274 106.983 29.2988 107.382 30.51C107.794 31.7078 108 33.052 108 34.5427V35.5173C108 36.6219 107.105 37.5173 106 37.5173H93.3578C92.3765 37.5173 91.581 36.7218 91.581 35.7405C91.581 34.7592 92.3765 33.9637 93.3578 33.9637H102.214C102.534 33.9637 102.793 33.7045 102.793 33.3848C102.793 32.533 102.66 31.7744 102.394 31.1089C102.128 30.4434 101.716 29.9177 101.157 29.5317C100.612 29.1458 99.8936 28.9528 99.0025 28.9528C98.1912 28.9528 97.4929 29.1192 96.9077 29.4519C96.3225 29.7846 95.8437 30.2504 95.4713 30.8494C95.0989 31.4483 94.8196 32.147 94.6334 32.9456C94.4605 33.7441 94.3741 34.6092 94.3741 35.5409V36.7786C94.3741 37.6704 94.4805 38.4955 94.6933 39.2542C94.9061 39.9995 95.2386 40.6583 95.6908 41.2306C96.143 41.8029 96.7282 42.2488 97.4464 42.5682C98.1646 42.8876 99.0224 43.0473 100.02 43.0473C101.456 43.0473 102.62 42.8676 103.511 42.5083C103.681 42.4384 103.848 42.3678 104.011 42.2966C105.09 41.8277 106.387 42.2703 106.849 43.3517C107.208 44.1926 106.944 45.1701 106.139 45.6048C105.995 45.6825 105.844 45.7617 105.686 45.8423C104.941 46.2149 104.043 46.5343 102.993 46.8005C101.955 47.0667 100.805 47.1998 99.5411 47.1998Z" fill="white"/>
            <defs>
            <radialGradient id="paint0_radial_795_117" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(93.5 42) rotate(8.76933) scale(564.094 175.294)">
            <stop offset="0.144537" stop-color="#0894FF"/>
            <stop offset="0.472624" stop-color="#6E53FF"/>
            <stop offset="0.719121" stop-color="#B038EA"/>
            <stop offset="0.879706" stop-color="#F95088"/>
            <stop offset="1" stop-color="#FF6F62"/>
            </radialGradient>
            <radialGradient id="paint1_radial_795_117" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(109.5 14) rotate(132.112) scale(71.6042)">
            <stop stop-color="#0894FF"/>
            <stop offset="0.290475" stop-color="#6E53FF"/>
            <stop offset="0.609151" stop-color="#B038EA"/>
            <stop offset="0.850793" stop-color="#F95088"/>
            <stop offset="1" stop-color="#FF6F62"/>
            </radialGradient>
            </defs>
            </svg>
    
    </div>
           
        
    
    <div class="hidden sm:block">
        <svg width="375" height="96" class="" viewBox="0 0 375 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M294.346 38.6585C343.915 34.6627 375 50.1585 375 50.1585V95.8972C375 95.8972 266.374 96.1285 193.714 95.8972C118.958 95.6592 -3.05176e-05 95.8972 -3.05176e-05 95.8972C-3.05176e-05 95.8972 63.632 66.175 131.375 70.5449C199.117 74.9148 244.777 42.6543 294.346 38.6585Z" fill="url(#paint0_radial_936_1150)"/>
            <rect x="279" y="2" width="68" height="68" rx="10" fill="url(#paint1_radial_936_1150)" stroke="white" stroke-width="4"/>
            <path d="M312.477 42.838C311.276 43.0017 310.207 42.0682 310.207 40.8563V32.6264C310.207 31.8678 310.074 31.2156 309.808 30.6699C309.555 30.1109 309.17 29.685 308.651 29.3922C308.145 29.0994 307.527 28.953 306.796 28.953C305.984 28.953 305.293 29.0861 304.721 29.3523C304.149 29.6052 303.703 29.9512 303.384 30.3904C302.9 31.0646 302.222 31.7799 301.394 31.7234L299.522 31.5957C298.473 31.5241 297.613 30.6284 297.945 29.6307C298.039 29.3488 298.157 29.0764 298.297 28.8133C298.736 28.0014 299.354 27.296 300.152 26.6971C300.963 26.0982 301.934 25.6324 303.065 25.2996C304.195 24.9669 305.452 24.8005 306.835 24.8005C308.551 24.8005 310.041 25.0933 311.304 25.6789C312.581 26.2646 313.572 27.143 314.277 28.3142C314.982 29.4721 315.334 30.9228 315.334 32.6663V40.7027C315.334 41.7029 314.595 42.5493 313.604 42.6844L312.477 42.838ZM309.338 33.9041C310.293 33.9041 311.069 34.6756 311.075 35.631C311.08 36.5941 310.301 37.3778 309.338 37.3778H306.716C305.745 37.3778 304.927 37.5309 304.262 37.837C303.61 38.1298 303.118 38.5224 302.786 39.0148C302.453 39.5073 302.287 40.0397 302.287 40.612C302.287 41.1443 302.413 41.6168 302.666 42.0294C302.919 42.442 303.304 42.7681 303.823 43.0076C304.342 43.2339 305 43.347 305.798 43.347C306.397 43.347 307.008 43.2405 307.633 43.0276C308.259 42.8013 308.83 42.5152 309.349 42.1691C309.881 41.8231 310.307 41.4504 310.626 41.0512C310.9 40.708 311.642 40.55 311.925 40.8865L313.12 42.3097C313.433 42.6833 313.496 43.2162 313.205 43.6076C312.886 44.0369 312.478 44.4692 311.983 44.9042C311.224 45.5564 310.247 46.102 309.05 46.5412C307.866 46.9804 306.45 47.2 304.8 47.2C303.125 47.2 301.702 46.9272 300.531 46.3815C299.374 45.8358 298.496 45.0639 297.898 44.0657C297.299 43.0542 297 41.8763 297 40.5321C297 39.4807 297.206 38.549 297.618 37.7372C298.031 36.912 298.643 36.2199 299.454 35.6609C300.265 35.0886 301.276 34.6561 302.486 34.3633C303.697 34.0571 305.093 33.9041 306.676 33.9041H309.338ZM320.541 47.2C318.879 47.2 317.409 46.9472 316.132 46.4414C314.869 45.9357 313.798 45.217 312.92 44.2853C312.056 43.3404 311.397 42.2357 310.945 40.9713C310.506 39.6936 310.287 38.2961 310.287 36.7789V35.5411C310.287 33.9573 310.506 32.5133 310.945 31.209C311.384 29.8913 312.022 28.7534 312.86 27.7951C313.698 26.8369 314.716 26.0982 315.913 25.5791C317.123 25.0468 318.486 24.7872 320.002 24.8005C321.426 24.8005 322.689 25.0268 323.793 25.4793C324.91 25.9318 325.855 26.584 326.626 27.4358C327.397 28.2743 327.983 29.2991 328.382 30.5102C328.794 31.7081 329 33.0523 329 34.5429V35.5176C329 36.6221 328.105 37.5175 327 37.5175H314.358C313.377 37.5175 312.581 36.7221 312.581 35.7408C312.581 34.7595 313.377 33.964 314.358 33.964H323.214C323.534 33.964 323.793 33.7048 323.793 33.385C323.793 32.5332 323.66 31.7746 323.394 31.1091C323.128 30.4437 322.716 29.918 322.157 29.532C321.612 29.146 320.894 28.953 320.002 28.953C319.191 28.953 318.493 29.1194 317.908 29.4521C317.323 29.7849 316.844 30.2507 316.471 30.8496C316.099 31.4485 315.82 32.1473 315.633 32.9458C315.461 33.7444 315.374 34.6095 315.374 35.5411V36.7789C315.374 37.6706 315.48 38.4958 315.693 39.2544C315.906 39.9997 316.239 40.6585 316.691 41.2308C317.143 41.8031 317.728 42.249 318.446 42.5684C319.165 42.8878 320.022 43.0476 321.02 43.0476C322.456 43.0476 323.62 42.8679 324.511 42.5085C324.681 42.4387 324.848 42.3681 325.011 42.2968C326.09 41.828 327.387 42.2705 327.849 43.3519C328.208 44.1929 327.944 45.1704 327.139 45.6051C326.995 45.6828 326.844 45.7619 326.686 45.8425C325.941 46.2152 325.043 46.5346 323.993 46.8008C322.955 47.067 321.805 47.2 320.541 47.2Z" fill="white"/>
            <defs>
            <radialGradient id="paint0_radial_936_1150" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(324.478 50.7849) rotate(171.483) scale(304.602 92.0142)">
            <stop offset="0.144537" stop-color="#0894FF"/>
            <stop offset="0.472624" stop-color="#6E53FF"/>
            <stop offset="0.719121" stop-color="#B038EA"/>
            <stop offset="0.879706" stop-color="#F95088"/>
            <stop offset="1" stop-color="#FF6F62"/>
            </radialGradient>
            <radialGradient id="paint1_radial_936_1150" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(330.5 14) rotate(132.112) scale(71.6042)">
            <stop stop-color="#0894FF"/>
            <stop offset="0.290475" stop-color="#6E53FF"/>
            <stop offset="0.609151" stop-color="#B038EA"/>
            <stop offset="0.850793" stop-color="#F95088"/>
            <stop offset="1" stop-color="#FF6F62"/>
            </radialGradient>
            </defs>
            </svg>
            
    </div>
    
        
       
    
    
    
    </div>
    
    </footer>