---
import i18next, { t, changeLanguage } from "i18next";
---
<div class="flex bg-bgdark justify-evenly py-10  sm:p-0 sm:flex-wrap justify-evenly w-[100vw] sm:pt-10 align-middle bg-purple-200">

    <div class="align-middle sm:w-[80vw]">
        <img src="../svg/index/camera.svg" alt="hello" width="400" height="180">
    </div>


    <div class="align-middle pt-20 sm:p-0 ">
       <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.rightPara1.heading")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.rightPara1.body")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-32 sm:w-40 h-10 bg-textblue rounded-lg text-white"> <a href="/">{t("index.knowMore")}</a></button>

            </div>
          
    </div>

   

</div>