---
import i18next, { t } from "i18next";
---

<style>
   .boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

  }

  .boton span:after {
    content: "\00bb";
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .boton:hover span {
    /* padding-right: 25px; */
    position: relative;
    color: #3f00f9;
    z-index: 4;
  }

  .boton:hover span:after {
    color: #3f00f9;
    z-index: 4;
  }

  .boton {
    background: radial-gradient(
      85.92% 85.92% at 88.24% 12.7%,
      #0894ff 0%,
      #6e53ff 29.05%,
      #b038ea 60.92%,
      #f95088 85.08%,
      #ff6f62 100%
    );
    border-radius: 16px;
    /* border: 2px solid #333;
    color: #333; */
    color: white;
    border: none;
    text-align: center;
    font-size: 22px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

    display: block;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: .3s;
}
.boton:after {
    content: "";
    background-color: rgb(255, 255, 255);
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transition: .5s;
    width: 0;
    z-index:2;
}
.boton:hover {
    border-color: rgb(255, 255, 255);
    color: #ffffff;
}
.boton:hover:after {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    color: blue;
    height: 120%;
    left: -21px;
    top: -6px;
    width: 120%;
}
</style>

<div class="contenedor-boton center font-grotesk text-8xl font-extrabold ">
  <a href="#" class="boton justify-center w-[260px] p-[14px] sm:w-[220px] sm:p-[10px]"><span class="translate-x-[9px]">{t("index.heroSection.homeButton")}</span></a>
 
</div>

<div class="w-[100vw] pt-5">
  <a href="https://discord.com/invite/hT6gxh2hJX" >
  <svg width="107" height="27" class="m-auto" viewBox="0 0 107 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.2701 5.82998C17.9401 5.20998 16.5001 4.75998 15.0001 4.49998C14.987 4.49956 14.9739 4.50203 14.9618 4.50722C14.9497 4.5124 14.9389 4.52017 14.9301 4.52999C14.7501 4.85999 14.5401 5.28998 14.4001 5.61998C12.8091 5.37998 11.1911 5.37998 9.60012 5.61998C9.46012 5.27998 9.25012 4.85999 9.06012 4.52999C9.05012 4.50999 9.02012 4.49998 8.99012 4.49998C7.49012 4.75998 6.06012 5.20998 4.72012 5.82998C4.71012 5.82998 4.70012 5.83998 4.69012 5.84998C1.97012 9.91998 1.22012 13.88 1.59012 17.8C1.59012 17.82 1.60012 17.84 1.62012 17.85C3.42012 19.17 5.15012 19.97 6.86012 20.5C6.89012 20.51 6.92012 20.5 6.93012 20.48C7.33012 19.93 7.69012 19.35 8.00012 18.74C8.02012 18.7 8.00012 18.66 7.96012 18.65C7.39012 18.43 6.85012 18.17 6.32012 17.87C6.28012 17.85 6.28012 17.79 6.31012 17.76C6.42012 17.68 6.53012 17.59 6.64012 17.51C6.66012 17.49 6.69012 17.49 6.71012 17.5C10.1501 19.07 13.8601 19.07 17.2601 17.5C17.2801 17.49 17.3101 17.49 17.3301 17.51C17.4401 17.6 17.5501 17.68 17.6601 17.77C17.7001 17.8 17.7001 17.86 17.6501 17.88C17.1301 18.19 16.5801 18.44 16.0101 18.66C15.9701 18.67 15.9601 18.72 15.9701 18.75C16.2901 19.36 16.6501 19.94 17.0401 20.49C17.0701 20.5 17.1001 20.51 17.1301 20.5C18.8501 19.97 20.5801 19.17 22.3801 17.85C22.4001 17.84 22.4101 17.82 22.4101 17.8C22.8501 13.27 21.6801 9.33998 19.3101 5.84998C19.3001 5.83998 19.2901 5.82998 19.2701 5.82998ZM8.52012 15.41C7.49012 15.41 6.63012 14.46 6.63012 13.29C6.63012 12.12 7.47012 11.17 8.52012 11.17C9.58012 11.17 10.4201 12.13 10.4101 13.29C10.4101 14.46 9.57012 15.41 8.52012 15.41ZM15.4901 15.41C14.4601 15.41 13.6001 14.46 13.6001 13.29C13.6001 12.12 14.4401 11.17 15.4901 11.17C16.5501 11.17 17.3901 12.13 17.3801 13.29C17.3801 14.46 16.5501 15.41 15.4901 15.41Z" fill="#3F00F9"/>
    <path d="M39.4377 20C43.6577 20 46.5977 16.96 46.5977 12.64C46.5977 8.24 43.5777 5.2 39.2377 5.2H33.6377V20H39.4377ZM38.9177 8.2C41.5977 8.2 43.1777 9.84 43.1777 12.64C43.1777 15.38 41.6777 17 39.1177 17H36.8777V8.2H38.9177ZM49.9925 8.44C50.9525 8.44 51.7325 7.66 51.7325 6.68C51.7325 5.7 50.9525 4.94 49.9925 4.94C49.0125 4.94 48.2325 5.7 48.2325 6.68C48.2325 7.66 49.0125 8.44 49.9925 8.44ZM48.4725 20H51.5525V10H48.4725V20ZM53.1431 16.84C53.1431 18.86 54.8031 20.26 57.4431 20.26C60.0431 20.26 61.8631 18.96 61.8631 16.82C61.8631 15.22 60.9631 14.46 59.3231 14.1L57.4631 13.7C56.7631 13.54 56.3831 13.28 56.3831 12.82C56.3831 12.28 56.8231 11.92 57.5231 11.92C58.2631 11.92 58.6831 12.38 58.6831 13.06H61.6031C61.6031 11.04 59.9831 9.68 57.6631 9.68C55.2631 9.68 53.4831 10.88 53.4831 12.96C53.4831 14.72 54.3831 15.52 56.2231 15.92L58.0631 16.32C58.8031 16.48 58.9631 16.8 58.9631 17.1C58.9631 17.62 58.5231 17.96 57.5631 17.96C56.6231 17.96 56.1031 17.54 56.0631 16.84H53.1431ZM62.9325 14.96C62.9325 18.16 64.9725 20.26 68.1325 20.26C70.9325 20.26 72.9725 18.54 73.1725 16.02H70.0725C69.8725 17 69.2125 17.5 68.1325 17.5C66.8125 17.5 66.0325 16.56 66.0325 14.96C66.0325 13.42 66.8725 12.44 68.1725 12.44C69.2325 12.44 69.8525 12.92 70.0725 13.92H73.1725C72.9725 11.3 71.0125 9.68 68.0525 9.68C65.0525 9.68 62.9325 11.88 62.9325 14.96ZM74.3192 14.98C74.3192 18.14 76.6392 20.24 79.8392 20.24C83.0192 20.24 85.3392 18.14 85.3392 14.98C85.3392 11.82 83.0192 9.7 79.8392 9.7C76.6392 9.7 74.3192 11.82 74.3192 14.98ZM77.4192 14.96C77.4192 13.46 78.3992 12.46 79.8392 12.46C81.2592 12.46 82.2392 13.46 82.2392 14.96C82.2392 16.48 81.2592 17.48 79.8392 17.48C78.3992 17.48 77.4192 16.48 77.4192 14.96ZM94.0048 10C93.5848 9.9 93.1848 9.86 92.8248 9.86C91.4848 9.86 90.6048 10.52 90.1848 11.5L90.0248 10.02H87.1248V20H90.2048V15.66C90.2048 13.68 91.2648 12.9 93.0248 12.9H94.0048V10ZM99.4694 20.26C100.909 20.26 102.149 19.64 102.689 18.72L102.849 20H105.749V4.92H102.669V10.92C102.089 10.18 100.909 9.68 99.6694 9.68C96.6294 9.68 94.7294 11.88 94.7294 15.06C94.7294 18.22 96.5894 20.26 99.4694 20.26ZM100.209 17.44C98.7494 17.44 97.8294 16.42 97.8294 14.94C97.8294 13.46 98.7494 12.44 100.209 12.44C101.649 12.44 102.649 13.44 102.649 14.94C102.649 16.44 101.649 17.44 100.209 17.44Z" fill="#3F00F9"/>
    <rect y="25" width="107" height="2" fill="#3F00F9"/>
    </svg>
  </a>
</div>

