---
import i18next, { t, changeLanguage } from "i18next";
---
<div class="flex  justify-evenly py-20  sm:p-0 sm:flex-wrap justify-evenly w-[100vw] sm:pt-10 align-middle bg-gray-300">

    <div class="align-middle  sm:w-[80vw]">
        <img src="../svg/index/life.svg" alt="hello" width="450" height="240">
    </div>


    <div class="align-middle pt-10 sm:p-0 ">
       <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.rightPara2.heading")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.rightPara2.body")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-32 sm:w-40 h-10 bg-textblue rounded-lg text-white"> <a href="/">{t("index.knowMore")}</a></button>

            </div>
          
    </div>

   

</div>