---
export interface Props {

    items: Array<string>;
      text: string;
}

const { text, items } = Astro.props as Props;
---
<ul>
<li>
    <span class="mr-0 text-base font-grotesk">
        <strong> <a href=""> {text} </a></strong>
    </span>
    <svg
        class="SVGD fill-current h-4 w-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
    >
        <path
        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
        ></path>
    </svg>

    <ul>
        {items.map((item) => (
        <li>{item}</li>
        ))}
    </ul>

</li>
</ul>

<style>
  ul {
    display: inline-block;
  }
    li {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(111, 0, 255);
  display: inline-block;
  padding: 5px;
  position: relative;
}
li ul {
  display: none;
  background-color: #fafafa;
}
li:hover {
  cursor: pointer;
  /* background-color: #f2f2f2; */
}
 li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
  border-radius: 30px;
}
li:hover ~ ul {
      animation: clipPath 0.25s ease-out 1 forwards;        
    transition: clip-path 0.25s ease-out, left 0.15s ease-out, height 0.15s ease-out;
    opacity: 1;
    right: auto;
}
li:nth-of-type(1):hover ~ ul,
li:nth-of-type(4):hover ~ ul {
    clip-path: inset(0 28.75em 0 0 round 10px);
    height: 14em;
}

li:nth-of-type(2):hover ~ ul,
li:nth-of-type(3):hover ~ ul {
    clip-path: inset(0 15em 0 0 round 10px);
}

li:nth-of-type(1):hover ~ ul {
    left: calc(-9em + -1px);
}
li:nth-of-type(2):hover ~ ul{
    left: calc(-6.5em + -1px);
    height: 18.75em;
}
li:nth-of-type(3):hover ~ ul{
    left: calc(2.75em + 1px);
    height: 24.5em;
}
li:nth-of-type(4):hover ~ ul {
    left: calc(19em + 1px);
}
@keyframes clipPath {
    0% {
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) scale(1);
        top: 4.5em;
        opacity: 1;        
    }
}

li:hover ul li {
  display: block;
  background-color: #fafafa;
  border-radius: 10px;
}
/* .tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
} */
 li:hover ul li:hover {
  background-color: #e0e0e0;
  
}
.SVGD {
  display: inline-block;
  color: rgb(111, 0, 255);
}
</style>