---
import {t} from "i18next";
---
<div class="flex justify-evenly  p-20  sm:flex-wrap-reverse w-[100vw] sm:pt-10 align-baseline bg-pink-200">

    <div class="sm:p-0 pt-10 align-middle ">
       <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.leftPara2.heading")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.leftPara2.body")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/"> {t("index.knowMore")} </a></button>

            </div>
          
    </div>

    <div class="align-middle  sm:w-[80vw]">
        <img src="../svg/index/vr.svg" alt="nothinh" width="420" height="300">         
    </div>

</div>