<div class="p-20">

    <div class="font-grotesk font-bold text-3xl text-black"> <p>About these developer resources</p></div>

    <div class="font-satoshi font-medium text-md pt-10 text-gray-800">Web 4.0 is here to help you build with Ethereum with documentation on foundational 
        concepts as well as the development stack. Plus there are tutorials to get you up and running.</div>

</div>