---

import {t} from "i18next";
---

<!-- <style>
    #grad0 {
      
     background: linear-gradient(180deg, #FFFFFF 39.85%, #e98773 123.57%);
   
  
    }
    </style> -->
<!-- <div id="grad0" class=" flex justify-evenly  sm:p-0 sm:flex-wrap-reverse w-[100vw] sm:pt-10 align-middle">

    <div class="sm:p-0 align middle pt-[50px]">
       <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.AIexchange.head")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[37vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.AIexchange.body")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/community">{t("index.AIexchange.button")}  </a></button>
            </div>         
    </div>

    <div class="align-middle sm:w-[80vw]">
        <img src="../svg/index/astronaut.svg" alt="nothinh" width="500" height="220">         
    </div>

</div> -->


<style>
.hello{
    width: 100vw;
    height: 90vh;
    background: linear-gradient(180deg, #FFFFFF 4.65%, #FEB8A5 101.54%);
}

.inside{
    margin: 0 10vw;
    width: 80vw;
    height: 45vh;
    box-sizing: border-box;
    background: linear-gradient(120deg,#FFA199, #FF99BB, #CC8CEA , #A999FF,#99D3FF);
    animation: gradient 2s linear infinite;
    animation-direction: alternate;
    background-size: 600% 100%;
    
    background-blend-mode: overlay, normal;
    
    
    border-radius: 15px;

}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.robo{
    position: absolute;
    left: 70%;
    top: 1025%;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}

</style>



<div class="hello py-20 sm:py-5" >
   
<div class="inside px-5">
    <div class=" pt-[60px] px-10 "><p class="text-xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4 ">{t("index.AIexchange.head")}</p></div>
    
    <div class="px-10 pt-5 sm:pt-2"><p class="font-satoshi  sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.AIexchange.body")}</p>
        <img src="../svg/index/astronaut.svg" alt="nothinh" width="300" height="90" class="float-right">
    </div>

    <div class="pt-5 pl-10 sm:pt-2 gap-x-2  flex">
        <div>
        <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-9 bg-textblue rounded-lg text-white "><a href="/community">{t("index.AIexchange.button")}  </a></button>
    </div>
    <div class="" >
        <a href="">

            <svg width="139" height="36" viewBox="0 0 139 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="138" height="35" rx="3.5" fill="white"/>
                <path d="M22 8C20.6868 8 19.3864 8.25866 18.1732 8.7612C16.9599 9.26375 15.8575 10.0003 14.9289 10.9289C13.0536 12.8043 12 15.3478 12 18C12 22.42 14.87 26.17 18.84 27.5C19.34 27.58 19.5 27.27 19.5 27V25.31C16.73 25.91 16.14 23.97 16.14 23.97C15.68 22.81 15.03 22.5 15.03 22.5C14.12 21.88 15.1 21.9 15.1 21.9C16.1 21.97 16.63 22.93 16.63 22.93C17.5 24.45 18.97 24 19.54 23.76C19.63 23.11 19.89 22.67 20.17 22.42C17.95 22.17 15.62 21.31 15.62 17.5C15.62 16.39 16 15.5 16.65 14.79C16.55 14.54 16.2 13.5 16.75 12.15C16.75 12.15 17.59 11.88 19.5 13.17C20.29 12.95 21.15 12.84 22 12.84C22.85 12.84 23.71 12.95 24.5 13.17C26.41 11.88 27.25 12.15 27.25 12.15C27.8 13.5 27.45 14.54 27.35 14.79C28 15.5 28.38 16.39 28.38 17.5C28.38 21.32 26.04 22.16 23.81 22.41C24.17 22.72 24.5 23.33 24.5 24.26V27C24.5 27.27 24.66 27.59 25.17 27.5C29.14 26.16 32 22.42 32 18C32 16.6868 31.7413 15.3864 31.2388 14.1732C30.7362 12.9599 29.9997 11.8575 29.0711 10.9289C28.1425 10.0003 27.0401 9.26375 25.8268 8.7612C24.6136 8.25866 23.3132 8 22 8Z" fill="black"/>
                <path d="M50.416 14.032C51.824 14.032 53.008 14.672 53.376 16.048H55.536C55.2 13.664 53.136 12.112 50.464 12.112C46.944 12.112 44.624 14.64 44.624 18.192C44.624 21.792 46.912 24.176 50.192 24.176C51.776 24.176 53.104 23.552 53.744 22.656L53.872 24H55.6V17.424H50.16V19.232H53.696V19.28C53.696 21.152 52.464 22.272 50.432 22.272C48.272 22.272 46.768 20.848 46.768 18.24C46.768 15.712 48.096 14.032 50.416 14.032ZM58.4996 14.512C59.1396 14.512 59.6676 13.984 59.6676 13.328C59.6676 12.672 59.1396 12.16 58.4996 12.16C57.8276 12.16 57.2996 12.672 57.2996 13.328C57.2996 13.984 57.8276 14.512 58.4996 14.512ZM57.5236 24H59.4756V16.096H57.5236V24ZM64.1804 24V17.728H65.7164V16.096H64.1804V13.632H62.2284V16.096H60.7084V17.728H62.2284V24H64.1804ZM68.8819 24V19.68C68.8819 18.496 69.6019 17.632 70.8339 17.632C71.8259 17.632 72.4819 18.272 72.4819 19.6V24H74.4339V19.136C74.4339 17.088 73.4099 15.856 71.4579 15.856C70.3219 15.856 69.3939 16.352 68.8979 17.12V12.096H66.9299V24H68.8819ZM81.7118 16.096V20.24C81.7118 21.744 81.1198 22.464 79.8878 22.464C78.7998 22.464 78.2078 21.856 78.2078 20.352V16.096H76.2558V21.04C76.2558 22.976 77.3278 24.208 79.1518 24.208C80.2078 24.208 81.2318 23.696 81.7118 22.944L81.8558 24H83.6638V16.096H81.7118ZM87.4879 24L87.6159 22.768C88.0799 23.68 89.0879 24.208 90.2719 24.208C92.5439 24.208 94.0319 22.528 94.0319 20.096C94.0319 17.6 92.6559 15.84 90.3999 15.84C89.1999 15.84 88.1439 16.368 87.6319 17.248V12.096H85.6799V24H87.4879ZM87.6479 20.016C87.6479 18.592 88.5279 17.6 89.8719 17.6C91.2479 17.6 92.0639 18.608 92.0639 20.016C92.0639 21.424 91.2479 22.416 89.8719 22.416C88.5279 22.416 87.6479 21.44 87.6479 20.016Z" fill="#0A090F"/>
                <path d="M115.095 15.7381L106.643 24.2143C106.452 24.4048 106.226 24.5 105.964 24.5C105.702 24.5 105.476 24.4048 105.286 24.2143C105.095 24.0238 105 23.7975 105 23.5352C105 23.2737 105.095 23.0476 105.286 22.8571L113.762 14.4048H106.524C106.254 14.4048 106.028 14.3137 105.845 14.1314C105.663 13.9486 105.571 13.7222 105.571 13.4524C105.571 13.1825 105.663 12.9562 105.845 12.7733C106.028 12.5911 106.254 12.5 106.524 12.5H116.048C116.317 12.5 116.543 12.5911 116.726 12.7733C116.909 12.9562 117 13.1825 117 13.4524V22.9762C117 23.246 116.909 23.4721 116.726 23.6543C116.543 23.8371 116.317 23.9286 116.048 23.9286C115.778 23.9286 115.552 23.8371 115.37 23.6543C115.187 23.4721 115.095 23.246 115.095 22.9762V15.7381Z" fill="black"/>
                <rect x="0.5" y="0.5" width="138" height="35" rx="3.5" stroke="black"/>
                </svg>
                
        </a>
    </div>
    
    </div>

</div>


</div>