
<style>
.card{
width: 565px;
height: 315px;
border: 1px solid rgba(10, 9, 15, 0.5);
}

</style>



    <a href="" class="card box-border  bg-white">
        <div class="flex ">
            <img src="../images/Parallax1.png" alt="">
        </div>

        <div class="p-[1.5rem]">

            <div class=""> <span class="w-56 h-8 font-bold text-xl text-black">Join Community</span></div>
            <div class="pt-3"> <span class="absolute h-5 font-medium text-sm text-gray-900"> Find your tribe and participate in community with other Web 4.0 enthusiasts.</span></div>
        </div>
    </a>
