---
import {t} from "i18next";
---

<div class="flex p-20 items-center  justify-center">
    <div class="">
        <div class=" font-grotesk font-bold  text-black">
            <p class="text-4xl">{t("developer.developerResource.head")}</p></div>
        <div class="pt-5 font-satoshi font-medium text-lg leading-6 text-gray-900">{t("developer.developerResource.body")}</div>
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-32 sm:w-20 h-10 bg-purple-700 rounded text-white font-satoshi"><a href="">{t("developer.developerResource.button")}</a></button></div>
    </div>

        <div>
            <img src="../svg/developer/laptopHuman.svg" alt="DeveloperResource">            
        </div>

</div>