<div class="flex p-20 items-center  justify-center">
    <div class="">
        <div class=" font-grotesk font-bold  text-black">
            <p class="text-4xl">Developer Resource</p></div>
        <div class="pt-5 font-satoshi font-medium text-lg leading-6 text-gray-900">A builders manual for Web 4.0. By builders, for builders.</div>
        <div class="pt-5 sm:pt-2">
            <button class="items-center w-32 sm:w-20 h-10 bg-purple-700 rounded text-white font-satoshi"><a href="">Get Started</a></button></div>
    </div>

        <div>
            <img src="../svg/developer/laptopHuman.svg" alt="DeveloperResource">            
        </div>

</div>