---

export interface Props {
  heading: string,
  body: Array<String>;
}

const { heading, body } = Astro.props;
---


<div class=" pb-10 font-grotesk h-4 text-primary font-bold text-base flex items-center flex-none order-none flex-grow-0">{heading}</div>

<div class="font-medium text-base">
    <ul>
        {body.map((data) => <li class="pb-5 text-secondary">{data}</li>)}
      </ul>
</div>