---

export interface Props {
  heading: string,
  body: Array<any>;
}

const { heading, body } = Astro.props;
---


<div class="pt-4 sm:pt-8 pb-10 sm:pb-4 font-grotesk h-4 text-white font-bold text-lg flex items-center flex-none order-none flex-grow-0">{heading}</div>

<div class="text-md">
    <ul>
        {body.map((data) => <li class="pb-2 text-white">
         <a href={data.link}> {data.content}</a></li>)}
      </ul>
</div>