<style>
    .boo{
        border: 1px solid #0A090F;
    }

    .butto{
    width:-webkit-fill-available
}

</style>



<div class="p-20">

    <heading class="w-[100vw] text-center font-grotesk p-10 font-bold text-3xl text-black">
        How would you like to get started?
    </heading>


    <div class=" flex  p-6 justify-center gap-5 bg-white">

        <div class="boo w-[50vw]  p-5 box -border">
            <heading class="font-grotesk font-bold text-lg text-black"> Learn Web 4.0 development</heading>
            <p class="py-5 font-satoshi font-medium text-base text-gray-900">Read up on core concepts and the Web 4.0 stack with our docs.</p>
            <button class="butto mt-5  bg-purple-700 rounded text-white font-satoshi">Read the documents</button>
        </div>


        <div class="boo w-[50vw]  p-5 box -border">
            <heading class="font-grotesk font-bold text-lg text-black">Learn through tutorials</heading>
            <p class="py-5 font-satoshi font-medium text-base text-gray-900">Learn Web 4.0 development from builders who have already done it.</p>
            <button class="butto   bg-purple-700 rounded text-white font-satoshi">View Tutorials</button>
        </div>

    </div>

</div>