---

import {t} from "i18next";
---


<div  class="flex justify-evenly pt-10 pb-20 sm:p-0 sm:flex-wrap-reverse w-[100vw] sm:pt-10 align-middle">

    <div class="align-middle sm:w-[80vw]">
        <img src="../svg/index/2arm.svg" alt="nothinh" width="500" height="220">         
    </div>

<!-- Join Community -->
    <div class="sm:p-0 align middle pt-15">
       <div><p class="text-2xl sm:text-xl font-grotesk font-bold text-primary sm:pt-4">{t("index.paraLeft2.head1")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.paraLeft2.body1")}</p></div>
        
        <div class="flex gap-x-3 ">
        <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/community">{t("index.paraLeft2.button1")}  </a></button>
            </div>


            <!-- Discord -->
            <div class="pt-7 sm:pt-4">
                <a href="https://discord.com/invite/hT6gxh2hJX">
            <svg width="104" height="25" viewBox="0 0 104 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.2701 5.83005C17.9401 5.21005 16.5001 4.76005 15.0001 4.50005C14.987 4.49963 14.9739 4.50209 14.9618 4.50728C14.9497 4.51246 14.9389 4.52023 14.9301 4.53005C14.7501 4.86005 14.5401 5.29005 14.4001 5.62005C12.8091 5.38005 11.1911 5.38005 9.60012 5.62005C9.46012 5.28005 9.25012 4.86005 9.06012 4.53005C9.05012 4.51005 9.02012 4.50005 8.99012 4.50005C7.49012 4.76005 6.06012 5.21005 4.72012 5.83005C4.71012 5.83005 4.70012 5.84005 4.69012 5.85005C1.97012 9.92005 1.22012 13.88 1.59012 17.8C1.59012 17.82 1.60012 17.84 1.62012 17.85C3.42012 19.17 5.15012 19.97 6.86012 20.5C6.89012 20.51 6.92012 20.5 6.93012 20.48C7.33012 19.93 7.69012 19.35 8.00012 18.74C8.02012 18.7 8.00012 18.66 7.96012 18.65C7.39012 18.43 6.85012 18.17 6.32012 17.87C6.28012 17.85 6.28012 17.79 6.31012 17.76C6.42012 17.68 6.53012 17.59 6.64012 17.51C6.66012 17.49 6.69012 17.49 6.71012 17.5C10.1501 19.07 13.8601 19.07 17.2601 17.5C17.2801 17.49 17.3101 17.49 17.3301 17.51C17.4401 17.6 17.5501 17.68 17.6601 17.77C17.7001 17.8 17.7001 17.86 17.6501 17.88C17.1301 18.19 16.5801 18.44 16.0101 18.66C15.9701 18.67 15.9601 18.72 15.9701 18.75C16.2901 19.36 16.6501 19.94 17.0401 20.49C17.0701 20.5 17.1001 20.51 17.1301 20.5C18.8501 19.97 20.5801 19.17 22.3801 17.85C22.4001 17.84 22.4101 17.82 22.4101 17.8C22.8501 13.27 21.6801 9.34005 19.3101 5.85005C19.3001 5.84005 19.2901 5.83005 19.2701 5.83005ZM8.52012 15.41C7.49012 15.41 6.63012 14.46 6.63012 13.29C6.63012 12.12 7.47012 11.17 8.52012 11.17C9.58012 11.17 10.4201 12.13 10.4101 13.29C10.4101 14.46 9.57012 15.41 8.52012 15.41ZM15.4901 15.41C14.4601 15.41 13.6001 14.46 13.6001 13.29C13.6001 12.12 14.4401 11.17 15.4901 11.17C16.5501 11.17 17.3901 12.13 17.3801 13.29C17.3801 14.46 16.5501 15.41 15.4901 15.41Z" fill="#222126"/>
                <path d="M38.962 20C43.202 20 46.122 17.02 46.122 12.72C46.122 8.36 43.142 5.38 38.822 5.38H33.702V20H38.962ZM38.582 7.74C41.602 7.74 43.422 9.62 43.422 12.72C43.422 15.76 41.642 17.64 38.722 17.64H36.262V7.74H38.582ZM49.3667 8.14C50.1667 8.14 50.8267 7.48 50.8267 6.66C50.8267 5.84 50.1667 5.2 49.3667 5.2C48.5267 5.2 47.8667 5.84 47.8667 6.66C47.8667 7.48 48.5267 8.14 49.3667 8.14ZM48.1467 20H50.5867V10.12H48.1467V20ZM52.3477 17C52.3477 18.94 53.9077 20.26 56.3677 20.26C58.8077 20.26 60.5077 19.02 60.5077 17.02C60.5077 15.5 59.6677 14.74 58.0077 14.36L56.2277 13.94C55.3877 13.74 54.9477 13.38 54.9477 12.82C54.9477 12.08 55.5077 11.64 56.4677 11.64C57.4077 11.64 57.9677 12.18 57.9877 13.02H60.3077C60.2877 11.1 58.7877 9.82 56.5677 9.82C54.2877 9.82 52.6477 10.98 52.6477 12.92C52.6477 14.5 53.5077 15.34 55.2877 15.74L57.0677 16.16C57.9477 16.36 58.2077 16.72 58.2077 17.22C58.2077 17.94 57.5877 18.4 56.4477 18.4C55.3277 18.4 54.6877 17.86 54.6677 17H52.3477ZM61.7855 15.04C61.7855 18.18 63.7455 20.26 66.7455 20.26C69.3255 20.26 71.2455 18.68 71.5455 16.38H69.0855C68.8255 17.46 67.9655 18.06 66.7455 18.06C65.1855 18.06 64.2255 16.9 64.2255 15.04C64.2255 13.18 65.2655 12 66.8255 12C67.9855 12 68.8055 12.58 69.0855 13.7H71.5255C71.2655 11.32 69.4255 9.82 66.7255 9.82C63.8055 9.82 61.7855 11.98 61.7855 15.04ZM72.7816 15.04C72.7816 18.12 75.0016 20.24 78.0616 20.24C81.1216 20.24 83.3416 18.12 83.3416 15.04C83.3416 11.96 81.1216 9.84 78.0616 9.84C75.0016 9.84 72.7816 11.96 72.7816 15.04ZM75.2216 15.04C75.2216 13.24 76.3816 12.02 78.0616 12.02C79.7416 12.02 80.9016 13.24 80.9016 15.04C80.9016 16.84 79.7416 18.06 78.0616 18.06C76.3816 18.06 75.2216 16.84 75.2216 15.04ZM91.4756 10.08C91.0756 9.98 90.7356 9.94 90.3956 9.94C89.0756 9.94 88.1356 10.6 87.7156 11.58L87.5756 10.14H85.2756V20H87.7156V15.2C87.7156 13.28 88.8156 12.34 90.5756 12.34H91.4756V10.08ZM96.8552 20.26C98.3552 20.26 99.6352 19.6 100.235 18.46L100.395 20H102.635V5.12H100.215V11.38C99.5952 10.4 98.3752 9.82 96.9952 9.82C94.0152 9.82 92.2152 12.02 92.2152 15.1C92.2152 18.16 93.9952 20.26 96.8552 20.26ZM97.3952 18.02C95.6952 18.02 94.6552 16.78 94.6552 15.02C94.6552 13.26 95.6952 12 97.3952 12C99.0952 12 100.195 13.24 100.195 15.02C100.195 16.8 99.0952 18.02 97.3952 18.02Z" fill="#222126"/>
                <path d="M32.082 24.7H103.915V26.3H32.082V24.7Z" fill="#222126"/>
                </svg>

            </a>
            </div>
<!-- Slack -->
            <div class="pt-7 sm:pt-4">
                <a href="https://w4a-io.slack.com/">
                <svg width="82" height="25" viewBox="0 0 82 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 15.5C6 16.0304 5.78929 16.5391 5.41421 16.9142C5.03914 17.2893 4.53043 17.5 4 17.5C3.46957 17.5 2.96086 17.2893 2.58579 16.9142C2.21071 16.5391 2 16.0304 2 15.5C2 14.9696 2.21071 14.4609 2.58579 14.0858C2.96086 13.7107 3.46957 13.5 4 13.5H6V15.5ZM7 15.5C7 14.9696 7.21071 14.4609 7.58579 14.0858C7.96086 13.7107 8.46957 13.5 9 13.5C9.53043 13.5 10.0391 13.7107 10.4142 14.0858C10.7893 14.4609 11 14.9696 11 15.5V20.5C11 21.0304 10.7893 21.5391 10.4142 21.9142C10.0391 22.2893 9.53043 22.5 9 22.5C8.46957 22.5 7.96086 22.2893 7.58579 21.9142C7.21071 21.5391 7 21.0304 7 20.5V15.5ZM9 7.5C8.46957 7.5 7.96086 7.28929 7.58579 6.91421C7.21071 6.53914 7 6.03043 7 5.5C7 4.96957 7.21071 4.46086 7.58579 4.08579C7.96086 3.71071 8.46957 3.5 9 3.5C9.53043 3.5 10.0391 3.71071 10.4142 4.08579C10.7893 4.46086 11 4.96957 11 5.5V7.5H9ZM9 8.5C9.53043 8.5 10.0391 8.71071 10.4142 9.08579C10.7893 9.46086 11 9.96957 11 10.5C11 11.0304 10.7893 11.5391 10.4142 11.9142C10.0391 12.2893 9.53043 12.5 9 12.5H4C3.46957 12.5 2.96086 12.2893 2.58579 11.9142C2.21071 11.5391 2 11.0304 2 10.5C2 9.96957 2.21071 9.46086 2.58579 9.08579C2.96086 8.71071 3.46957 8.5 4 8.5H9ZM17 10.5C17 9.96957 17.2107 9.46086 17.5858 9.08579C17.9609 8.71071 18.4696 8.5 19 8.5C19.5304 8.5 20.0391 8.71071 20.4142 9.08579C20.7893 9.46086 21 9.96957 21 10.5C21 11.0304 20.7893 11.5391 20.4142 11.9142C20.0391 12.2893 19.5304 12.5 19 12.5H17V10.5ZM16 10.5C16 11.0304 15.7893 11.5391 15.4142 11.9142C15.0391 12.2893 14.5304 12.5 14 12.5C13.4696 12.5 12.9609 12.2893 12.5858 11.9142C12.2107 11.5391 12 11.0304 12 10.5V5.5C12 4.96957 12.2107 4.46086 12.5858 4.08579C12.9609 3.71071 13.4696 3.5 14 3.5C14.5304 3.5 15.0391 3.71071 15.4142 4.08579C15.7893 4.46086 16 4.96957 16 5.5V10.5ZM14 18.5C14.5304 18.5 15.0391 18.7107 15.4142 19.0858C15.7893 19.4609 16 19.9696 16 20.5C16 21.0304 15.7893 21.5391 15.4142 21.9142C15.0391 22.2893 14.5304 22.5 14 22.5C13.4696 22.5 12.9609 22.2893 12.5858 21.9142C12.2107 21.5391 12 21.0304 12 20.5V18.5H14ZM14 17.5C13.4696 17.5 12.9609 17.2893 12.5858 16.9142C12.2107 16.5391 12 16.0304 12 15.5C12 14.9696 12.2107 14.4609 12.5858 14.0858C12.9609 13.7107 13.4696 13.5 14 13.5H19C19.5304 13.5 20.0391 13.7107 20.4142 14.0858C20.7893 14.4609 21 14.9696 21 15.5C21 16.0304 20.7893 16.5391 20.4142 16.9142C20.0391 17.2893 19.5304 17.5 19 17.5H14Z" fill="#222126"/>
                    <path d="M32.9948 9.46C32.9948 11.7 34.2948 13.12 36.7748 13.66L39.0948 14.18C40.2948 14.44 40.7948 15.02 40.7948 16C40.7948 17.22 39.7148 17.96 38.0148 17.96C36.3748 17.96 35.3748 17.22 35.3548 15.98H32.7948C32.8548 18.6 34.8948 20.26 38.0148 20.26C41.2348 20.26 43.3548 18.5 43.3548 15.78C43.3548 13.6 42.1348 12.32 39.6348 11.78L37.3348 11.28C36.1148 11 35.5548 10.42 35.5548 9.38C35.5548 8.16 36.5748 7.4 38.1548 7.4C39.5948 7.4 40.4948 8.14 40.5548 9.4H43.1148C43.0348 6.76 41.1548 5.12 38.1948 5.12C35.1148 5.12 32.9948 6.9 32.9948 9.46ZM47.7708 20V5.12H45.3508V20H47.7708ZM53.2703 20.26C54.8103 20.26 56.1503 19.56 56.5703 18.54L56.7503 20H58.8903V14C58.8903 11.26 57.2503 9.82 54.5903 9.82C51.9103 9.82 50.1503 11.22 50.1503 13.36H52.2303C52.2303 12.32 53.0303 11.72 54.4703 11.72C55.7103 11.72 56.5103 12.26 56.5103 13.6V13.82L53.5503 14.04C51.2103 14.22 49.8903 15.36 49.8903 17.18C49.8903 19.04 51.1703 20.26 53.2703 20.26ZM54.0703 18.42C52.9703 18.42 52.3703 17.98 52.3703 17.08C52.3703 16.28 52.9503 15.78 54.4703 15.64L56.5303 15.48V16C56.5303 17.52 55.5703 18.42 54.0703 18.42ZM60.7073 15.04C60.7073 18.18 62.6673 20.26 65.6673 20.26C68.2473 20.26 70.1673 18.68 70.4673 16.38H68.0073C67.7473 17.46 66.8873 18.06 65.6673 18.06C64.1073 18.06 63.1473 16.9 63.1473 15.04C63.1473 13.18 64.1873 12 65.7473 12C66.9073 12 67.7273 12.58 68.0073 13.7H70.4473C70.1873 11.32 68.3473 9.82 65.6473 9.82C62.7273 9.82 60.7073 11.98 60.7073 15.04ZM74.7434 20V17.34L76.1834 15.84L78.7634 20H81.5634L77.8834 14.04L81.6434 10.12H78.5834L74.7434 14.26V5.12H72.3234V20H74.7434Z" fill="#222126"/>
                    <path d="M32.2148 24.7H81.7834V26.3H32.2148V24.7Z" fill="#222126"/>
                    </svg>
                </a>
                </div>

            </div> 
            <!-- COntribute to web 4.0 -->
        <div class="pt-10"><p class="text-2xl pt-6 sm:text-2xl font-grotesk font-bold text-primary sm:pt-4">{t("index.paraLeft2.head2")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-sm sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.paraLeft2.body2")}</p></div>
        
        
       <div class="flex gap-x-3"> 
        <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/community"> {t("index.paraLeft2.button2")} </a></button>
            </div>

            <div class="pt-6 sm:pt-3">
                <a href="" >
                    <svg width="139" height="36" viewBox="0 0 139 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="138" height="35" rx="3.5" fill="white"/>
                        <path d="M22 8C20.6868 8 19.3864 8.25866 18.1732 8.7612C16.9599 9.26375 15.8575 10.0003 14.9289 10.9289C13.0536 12.8043 12 15.3478 12 18C12 22.42 14.87 26.17 18.84 27.5C19.34 27.58 19.5 27.27 19.5 27V25.31C16.73 25.91 16.14 23.97 16.14 23.97C15.68 22.81 15.03 22.5 15.03 22.5C14.12 21.88 15.1 21.9 15.1 21.9C16.1 21.97 16.63 22.93 16.63 22.93C17.5 24.45 18.97 24 19.54 23.76C19.63 23.11 19.89 22.67 20.17 22.42C17.95 22.17 15.62 21.31 15.62 17.5C15.62 16.39 16 15.5 16.65 14.79C16.55 14.54 16.2 13.5 16.75 12.15C16.75 12.15 17.59 11.88 19.5 13.17C20.29 12.95 21.15 12.84 22 12.84C22.85 12.84 23.71 12.95 24.5 13.17C26.41 11.88 27.25 12.15 27.25 12.15C27.8 13.5 27.45 14.54 27.35 14.79C28 15.5 28.38 16.39 28.38 17.5C28.38 21.32 26.04 22.16 23.81 22.41C24.17 22.72 24.5 23.33 24.5 24.26V27C24.5 27.27 24.66 27.59 25.17 27.5C29.14 26.16 32 22.42 32 18C32 16.6868 31.7413 15.3864 31.2388 14.1732C30.7362 12.9599 29.9997 11.8575 29.0711 10.9289C28.1425 10.0003 27.0401 9.26375 25.8268 8.7612C24.6136 8.25866 23.3132 8 22 8Z" fill="black"/>
                        <path d="M50.416 14.032C51.824 14.032 53.008 14.672 53.376 16.048H55.536C55.2 13.664 53.136 12.112 50.464 12.112C46.944 12.112 44.624 14.64 44.624 18.192C44.624 21.792 46.912 24.176 50.192 24.176C51.776 24.176 53.104 23.552 53.744 22.656L53.872 24H55.6V17.424H50.16V19.232H53.696V19.28C53.696 21.152 52.464 22.272 50.432 22.272C48.272 22.272 46.768 20.848 46.768 18.24C46.768 15.712 48.096 14.032 50.416 14.032ZM58.4996 14.512C59.1396 14.512 59.6676 13.984 59.6676 13.328C59.6676 12.672 59.1396 12.16 58.4996 12.16C57.8276 12.16 57.2996 12.672 57.2996 13.328C57.2996 13.984 57.8276 14.512 58.4996 14.512ZM57.5236 24H59.4756V16.096H57.5236V24ZM64.1804 24V17.728H65.7164V16.096H64.1804V13.632H62.2284V16.096H60.7084V17.728H62.2284V24H64.1804ZM68.8819 24V19.68C68.8819 18.496 69.6019 17.632 70.8339 17.632C71.8259 17.632 72.4819 18.272 72.4819 19.6V24H74.4339V19.136C74.4339 17.088 73.4099 15.856 71.4579 15.856C70.3219 15.856 69.3939 16.352 68.8979 17.12V12.096H66.9299V24H68.8819ZM81.7118 16.096V20.24C81.7118 21.744 81.1198 22.464 79.8878 22.464C78.7998 22.464 78.2078 21.856 78.2078 20.352V16.096H76.2558V21.04C76.2558 22.976 77.3278 24.208 79.1518 24.208C80.2078 24.208 81.2318 23.696 81.7118 22.944L81.8558 24H83.6638V16.096H81.7118ZM87.4879 24L87.6159 22.768C88.0799 23.68 89.0879 24.208 90.2719 24.208C92.5439 24.208 94.0319 22.528 94.0319 20.096C94.0319 17.6 92.6559 15.84 90.3999 15.84C89.1999 15.84 88.1439 16.368 87.6319 17.248V12.096H85.6799V24H87.4879ZM87.6479 20.016C87.6479 18.592 88.5279 17.6 89.8719 17.6C91.2479 17.6 92.0639 18.608 92.0639 20.016C92.0639 21.424 91.2479 22.416 89.8719 22.416C88.5279 22.416 87.6479 21.44 87.6479 20.016Z" fill="#0A090F"/>
                        <path d="M115.095 15.7381L106.643 24.2143C106.452 24.4048 106.226 24.5 105.964 24.5C105.702 24.5 105.476 24.4048 105.286 24.2143C105.095 24.0238 105 23.7975 105 23.5352C105 23.2737 105.095 23.0476 105.286 22.8571L113.762 14.4048H106.524C106.254 14.4048 106.028 14.3137 105.845 14.1314C105.663 13.9486 105.571 13.7222 105.571 13.4524C105.571 13.1825 105.663 12.9562 105.845 12.7733C106.028 12.5911 106.254 12.5 106.524 12.5H116.048C116.317 12.5 116.543 12.5911 116.726 12.7733C116.909 12.9562 117 13.1825 117 13.4524V22.9762C117 23.246 116.909 23.4721 116.726 23.6543C116.543 23.8371 116.317 23.9286 116.048 23.9286C115.778 23.9286 115.552 23.8371 115.37 23.6543C115.187 23.4721 115.095 23.246 115.095 22.9762V15.7381Z" fill="black"/>
                        <rect x="0.5" y="0.5" width="138" height="35" rx="3.5" stroke="black"/>
                        </svg>
                        
                </a>
            </div>

        </div>
          
    </div>

    
    

</div>