---

import {t} from "i18next";
---
<style>
  #grad0 {
    /* background: linear-gradient(180deg, #0E0A1B 0%, #22193E 50.83%, #302358 102.74%, #362762 159.09%, #463380 207.64%); */
   background: linear-gradient(180deg, #FFFFFF 39.85%, #e98773 123.57%);
    /* animation: change 5s both; */

  }
  </style>
<div id="grad0" class="flex justify-evenly p-4 pt-20 sm:p-0 sm:flex-wrap-reverse w-[100vw] sm:pt-10 align-middle">

    <div class="sm:p-0 align middle pt-15">
       <div><p class="text-3xl sm:text-2xl font-grotesk font-bold text-primary sm:pt-4">{t("index.paraLeft2.head1")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-md sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.paraLeft2.body1")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/community">{t("index.paraLeft2.button1")}  </a></button>
            </div>
        <div><p class="text-3xl pt-6 sm:text-2xl font-grotesk font-bold text-primary sm:pt-4">{t("index.paraLeft2.head2")}</p></div>
        <div class="pt-5 sm:pt-2"><p class="font-satoshi w-[50vw] sm:w-[80vw] font-medium text-md sm:text-sm text-secondary flex-none order-1 flex-grow-0">{t("index.paraLeft2.body2")}</p></div>
            <div class="pt-5 sm:pt-2">
                <button class="items-center w-auto pl-[10px] pr-[10px] sm:w-40 h-10 bg-textblue rounded text-white "><a href="/community"> {t("index.paraLeft2.button2")} </a></button>
            </div>
          
    </div>

    <div class="align-middle sm:w-[80vw]">
        <img src="../svg/index/astronaut.svg" alt="nothinh" width="500" height="220">         
    </div>

</div>