---
import CommunityCard from "../molecules/communityCard.astro";
---


<div class="w-[100vw]">
    <div class="p-10">

        <div class="flex items-center mb-[3rem] mt-[1rem] break-words flex-wrap-reverse">

            <div class="p-5 translate-y-10 ">
               <div class="pb-10"> <span class="h-12 font-medium text-4xl text-black ">How can I get involved?</span></div>

                <div class="">
                    <span class="w-[510px] block h-32 font-normal text-xl text-gray-900">There are many ways to get involved in the fast-growing Web 4.0 community; you can join one of the popular online communities, attend an event, join a meetup group, 
                        contribute to a project, or participate in one of the many online forums about Web 4.0.</span>
                </div>
            </div>

<!-- image starts -->
<div>

</div>
<!-- image ends -->
        </div>

        <!-- Card section starts -->
        <div class="flex flex-wrap grid-rows-2 grid-flow-col gap-10 pt-[100px] justify-center">
            <CommunityCard/>    
            <CommunityCard/>  
            <CommunityCard/>  
            <CommunityCard/>    
            
          </div>
 <!-- Card section ends -->
    </div>


</div>