<style>

    .sec{
        box-shadow: inset 0px -4px 24px rgba(63, 0, 249, 0.25), inset 0px 4px 24px rgba(63, 0, 249, 0.25);
    }
</style>

<div class="">

    <div class="sec bg-purple-300 h-[700px] skew-y-1">
        <div class="flex ">

            <div class="-skew-y-1 translate-y-[250px] translate-x-[40px]">
                <div class="   w-[28vw]"><span class="absolute h-12 font-grotesk font-medium text-4xl text-black">Get paid for your work.</span></div>
                <div class="translate-y-[60px] w-inherit"><span class="absolute h-32  text-xl text-gray-900">Are you building on Web 4.0, or do you want to? Companies are hiring for thousands of technical and non-technical roles. 
                    Got an idea of your own? Try finding a grant to get your project off the ground. </span></div>
            </div>

            <div></div>

            <div class="-skew-y-1 translate-y-[500px] -translate-x-[380px] flex">
                <div class="flex flex-row items-center  w-24 h-10 bg-purple-700 rounded"><a href="" class="h-32  font-medium text-xl "> Find a job</a></div>
                

            </div>
        </div>

    </div>

    
</div>