<div class="flex h-[42rem]">

    <div class="write w-[45rem]  h-auto pt-[210px] ml-20">

    <span class="font-grotesk h-24 text-5xl font-bold text-black "> Welcome to the Web 4.0 community hub</span>

        <div class="pt-10 w-[30rem]"> 
        <span class="h-20  font-medium font-satoshi text-xl leading-7 text-gray-900"> The Web 4.0 community is home to hundreds of thousands of developers, technologists, designers, users and enthusiasts.</span>

        </div>
    </div>
    <div class="photo"></div>
    
</div>