---
import FooterLogo from "../Atoms/footerLogo.astro";
import HomeButton from "../Atoms/homeButton.astro";
---

<div id="grad1">
  <FooterLogo />
  <div class="text-center text-xl px-80 text-indigo-900">
    <center>
      Human decisioning meets Machine Intelligence. Developing precursor to
      intelligent Hominid aka Silico Sapiens.
    </center>
    <HomeButton />
  </div>
  <img src="../Parallax 1.png" alt="paralax" width="128" height="128" />
</div>

<style>
  #grad1 {
    height: 610px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(
      180deg,
      #ffffff 12%,
      #0894ff 68.43%,
      #6e53ff 87.63%,
      #b038ea 97.77%,
      #f95088 107.91%,
      #ff6f62 117.33%
    );
    position: absolute;
  }
  img {
    width: 100%;
  }
</style>
