---
import FooterList from "~/components/molecules/footerList.astro";
import Footerwaves from "../Atoms/footerwaves.astro";
import {t} from "i18next";

var image=["../svg/facebook.svg","../svg/LinkedIn.svg" ,"../svg/twitter.svg" ,"../svg/reddit.svg" , "../svg/Discord.svg"]
---


<footer class="w-[100vw] bg-black text-white">
    <div class="flex flex-wrap-reverse py-2 gap-10 pt-24 px-1 justify-center sm:justify-start sm:px-[20vw] pt-40">
        <div class="innerContent flex  justify-center gap-6 sm:flex-col sm:items-center  ">
            <div class="sm:w-[70vw]">
                <FooterList heading={t("footer.research.head")} body={[t("footer.research.body")]}/>
            </div>
            <div class="sm:w-[70vw]">
                <FooterList heading={t("footer.developer.head")} body={[t("footer.developer.body1"),t("footer.developer.body2"), t("footer.developer.body3")]}/>
            </div>
            <div class="sm:w-[70vw]">
                <FooterList heading={t("footer.communityHub.head")} body={[t("footer.communityHub.body1"),t("footer.communityHub.body2"),t("footer.communityHub.body3"),t("footer.communityHub.body4"),t("footer.communityHub.body6"),t("footer.communityHub.body6"),t("footer.communityHub.body7")]}/>
            </div>
            <div class="sm:w-[70vw]">
                <FooterList heading={t("footer.aboutWeb4.head")} body={[t("footer.aboutWeb4.body1"),t("footer.aboutWeb4.body2"),t("footer.aboutWeb4.body3"),t("footer.aboutWeb4.body4"),t("footer.aboutWeb4.body5"),t("footer.aboutWeb4.body6"),t("footer.aboutWeb4.body7")]}/>
            </div>
        </div>
    
    <!-- Footer logo -->
        <div class="flex lg:flex-col lg:gap-1  gap-4 pb-2 h-auto items-baseline lg:">
            {image.map((value) =>
                <div class="list-none pb-5">  
                    <a href="/" aria-label="iconsLink">
                        <object data={value} aria-label="icons">
                        </object>
                    </a> 
                </div>
            )}     
        </div>
    <!-- Footer Logo Ends -->
        
    </div>
    
    
    
    <div class="">
        <div class="sm:hidden bg-black ">
            <img  src="../images/footerLG.svg" class="overLap absolute z-10" alt="Footer End logo" />
            <div class="z-0 h-[50px] bottom-0">
            <Footerwaves />
            </div>
        </div>
    
        <div class="hidden sm:block bg-black">
             <div class="z-0 h-10 bottom-0">
            <Footerwaves />
            </div>
           <img src="../images/footerSM.svg" class="bg-none overLap absolute z-10 w-[140vw]" alt="Mobile footer end logo" />
            
        </div> 
    </div>
    
    </footer>